openapi: 3.2.0
info:
  title: Avnet Device Operation API
  x-refined-note:
  - x-conversion differs across the merged source definitions and was not carried
  - x-harvested differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-ownership differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged DeviceOperation across 3 of this provider''s published API definitions: avnet-iotconnect-device-aws-prod-swagger.json, avnet-iotconnect-device-azure-prod-swagger.json, avnet-iotconnect-device-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://device.iotconnect.io
  description: /IOTCONNECT production (Azure platform) — the host the docs page resolves for env=prod&pf=az; paths carry the /api/v2 prefix
security:
- Bearer: []
tags:
- name: DeviceOperation
  description: Device Operation Api List
paths:
  /api/v2.1/company/{companyGuid}/device-operation/{deviceGuid}/archive-data:
    get:
      tags:
      - DeviceOperation
      summary: Device operation history list for archive device telemetry data
      description: This API endpoint gives you the list of archive device telemetry data history.
      parameters:
      - name: companyGuid
        in: path
        description: Company guid of device
        required: true
        schema:
          type: string
          format: uuid
      - name: deviceGuid
        in: path
        description: Device guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '403':
          description: Indicates that the user is not authorized to access this section.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the device telemetry archive history list received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceOperationListResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            Invalid logged user or company.'
      operationId: getApiV21CompanyByCompanyGuidDeviceOperationByDeviceGuidArchiveData
      x-operation-id-source: derived
  /api/v2/company/{companyGuid}/device-operation/{deviceGuid}/archive-data:
    post:
      tags:
      - DeviceOperation
      summary: Archive device telemetry data
      description: This API endpoint allows you to archive device telemetry data.
      parameters:
      - name: companyGuid
        in: path
        description: Company guid of device
        required: true
        schema:
          type: string
          format: uuid
      - name: deviceGuid
        in: path
        description: Device guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '403':
          description: Indicates that the user is not authorized to access this section.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the device telemetry archive process started successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDataArchiveResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            Company''s cosmos is custom, support ticket not found, support ticket already closed, devie not found, device archive process already running for this company

            and invalid logged user or company.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceDataArchiveRequest'
        description: Json object
      operationId: postApiV2CompanyByCompanyGuidDeviceOperationByDeviceGuidArchiveData
      x-operation-id-source: derived
    get:
      tags:
      - DeviceOperation
      summary: Device operation history list for archive device telemetry data
      description: This API endpoint gives you the list of archive device telemetry data history.
      parameters:
      - name: companyGuid
        in: path
        description: Company guid of device
        required: true
        schema:
          type: string
          format: uuid
      - name: deviceGuid
        in: path
        description: Device guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '403':
          description: Indicates that the user is not authorized to access this section.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the device telemetry archive history list received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceOperationListResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            Invalid logged user or company.'
      operationId: getApiV2CompanyByCompanyGuidDeviceOperationByDeviceGuidArchiveData
      x-operation-id-source: derived
components:
  schemas:
    ErrorModel:
      type: object
      properties:
        param:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    ErrorsResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        error:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorModel'
      additionalProperties: false
    DeviceOperationListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DeviceOperationList'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    DeviceOperationList:
      type: object
      properties:
        guid:
          type: string
          format: uuid
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        isActive:
          type: boolean
        isDeleted:
          type: boolean
        createddate:
          type:
          - string
          - 'null'
          format: date-time
        createdby:
          type:
          - string
          - 'null'
          format: uuid
      additionalProperties: false
    DeviceDataArchiveRequest:
      required:
      - toDate
      type: object
      properties:
        toDate:
          minLength: 1
          type: string
          description: "To date time for archive data which are older then this date time \nDate format should be YYYY-MM-DD"
        supportTicketNumber:
          type:
          - string
          - 'null'
          description: Support ticket number for archive device data
      additionalProperties: false
    DeviceDataArchiveResponse:
      type: object
      properties:
        data:
          type:
          - object
          - 'null'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
x-refined-from:
- avnet-iotconnect-device-aws-prod-swagger.json
- avnet-iotconnect-device-azure-prod-swagger.json
- avnet-iotconnect-device-openapi.yml
