openapi: 3.0.0
info:
  title: /IOTCONNECT™ Master API
  description: "Master REST API contains information of Dashboard, FAQ, Property (Custom Fields) Methods and other lockups\
    \ data.\n<br /><h2>Headers</h2><p>Needed Headers for all the API. \n<br />\n<br /> Authorization &emsp;&nbsp;  &emsp;<b><i\
    \ style=\"font-style: italic !important;\">Bearer + access_token (Generated From api/v1.1/auth/login API)</i></b>\n<br\
    \ /> Content-Type &emsp;&nbsp;&emsp;<b><i style=\"font-style: italic !important;\">application/json</i></b></p>"
  version: '2.0'
  x-source: https://master.iotconnect.io/api/v2/swagger-json
  x-harvested: '2026-09-18'
  x-original: openapi/_original/avnet-iotconnect-master-azure-prod-swagger.json
  x-conversion: Swagger 2.0 -> OpenAPI 3.0.0 via swagger2openapi; operations, parameters, schemas and responses are as published
    — only servers[] and these x- provenance keys were added. No operationIds are published by the provider and none were
    invented.
  x-ownership: IoTConnect is Avnet's own IoT platform (docs.iotconnect.io is titled "Avnet /IOTCONNECT", carries "Copyright
    Avnet, Inc." and links github.com/avnet-iotconnect); the product lives on iotconnect.io rather than avnet.com.
servers:
- url: https://master.iotconnect.io
  description: /IOTCONNECT production (Azure platform) — the host the docs page resolves for env=prod&pf=az; paths carry the
    /api/v2 prefix
paths:
  /api/v2/Faq:
    get:
      tags:
      - Faq
      summary: Get FAQ list
      description: "<p>This API endpoint provides you the list of available FAQs.</p>\r\n<p>You can also add the filters as\
        \ given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters\
        \ in a query string.</p>"
      parameters:
      - name: pageNumber
        in: query
        description: Page Number
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Page Size
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: Search Text
        schema:
          type: string
      - name: sortBy
        in: query
        description: Sort by name and order/ex:name asc
        schema:
          type: string
      responses:
        '200':
          description: Indicates that FAQ list is loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FaqListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nCompany doesn't exist, Logged in user is invalid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    post:
      tags:
      - Faq
      summary: Add new FAQ
      description: <p>Add new frequently asked questions using this API endpoint. For that, you need to send questions and
        answers in the request body.</p>
      responses:
        '200':
          description: Indicates that FAQ is created successfully and returns created FAQ id.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FaqCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nCompany doesn't exist, User is not valid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqCreateRequest'
        description: Json object
  /api/v2/Faq/{faqGuid}/sequence:
    put:
      tags:
      - Faq
      summary: Update FAQ sequence
      description: <p>Update the display sequence of a frequently asked question using this API endpoint. For that, you need
        to send <i>faqGuid</i> in request url along with a new display sequence in the request body.</p>
      parameters:
      - name: faqGuid
        in: path
        description: FAQ Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqSequenceUpdateRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that FAQ sequence is updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FaqSequenceUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nFAQ doesn't exist, Company doesn't exist, User is not valid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Faq/{faqGuid}:
    delete:
      tags:
      - Faq
      summary: Delete FAQ
      description: <p>Delete a frequently asked question using this API endpoint. For that, you need to send <i>faqGuid</i>
        in request url.</p>
      parameters:
      - name: faqGuid
        in: path
        description: FAQ Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that FAQ is deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FaqDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nFAQ doesn't exist, Company doesn't exist, User is not valid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    get:
      tags:
      - Faq
      summary: Get single FAQ detail
      description: <p>This API endpoint provides you a detailed description of a single FAQ. For that, you need to send <i>faqGuid</i>
        in request url.</p>
      parameters:
      - name: faqGuid
        in: path
        description: FAQ Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that FAQ detail is loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FaqDetailResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nFAQ doesn't exist, Company doesn't exist, Logged in user is invalid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    put:
      tags:
      - Faq
      summary: Update FAQ
      description: <p>This API endpoint allows you to update a frequently asked question. For that, you need to send <i>faqGuid</i>
        in request url along with update details in the request body.</p>
      parameters:
      - name: faqGuid
        in: path
        description: FAQ Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqUpdateRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that FAQ is updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FaqUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nFAQ doesn't exist, Company doesn't exist, User is not valid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Master/country:
    get:
      tags:
      - Master
      summary: Get country list
      description: <p>This API endpoint provides you the list of all countries.</p>
      responses:
        '200':
          description: Indicates that country list loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CountryListResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Master/country/{countryGuid}/state:
    get:
      tags:
      - Master
      summary: Get country state list
      description: <p>This API endpoint gives you the list of all states for a given country. For that, you need to send <i>countryGuid</i>
        in request url.</p>
      parameters:
      - name: countryGuid
        in: path
        description: Country id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that country state list loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StateListResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Master/timezone:
    get:
      tags:
      - Master
      summary: Get time zone list
      description: <p>This API endpoint provides you the time zone list.</p>
      responses:
        '200':
          description: Indicates that timezone list loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TimeZoneListResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Master/connectionverify:
    post:
      tags:
      - Master
      summary: Verify connections
      description: <p>This API endpoint allows you to verify connections for SQLServer, RabbitMQ and ServiceBus.</p>
      responses:
        '200':
          description: Indicates that connection verified successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConnectionVerifyRespoonse'
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionVerifyRequest'
  /api/v2/Master/ui-mqtt:
    get:
      tags:
      - Master
      summary: Get ui-alert or notification configuration information
      description: <p>This API endpoint provides you the information of notification or an ui-alert. For that, you need to
        send a notification or UI alert in the query string parameter <i>type</i>.</p>
      parameters:
      - name: type
        in: query
        description: type should be notification or ui-alert or mqtt
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StompReaderResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Master/ui-signalr:
    get:
      tags:
      - Master
      summary: Get ui-alert or notification configuration information for signalr
      description: <p>This API endpoint provides you the information of notification or an ui-alert</p>
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SignalRConfigResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Master/language:
    get:
      tags:
      - Master
      summary: Get language list
      description: <p>This API endpoint provides you the language list.</p>
      responses:
        '200':
          description: Indicates that language list loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LanguageListResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Master/ui-protocol:
    get:
      tags:
      - Master
      summary: Get ui-protocol information.
      description: <p>This API endpoint provides you the information of ui-protocolt</p>
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UIProtocolReaderResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Master/gridPreferences:
    post:
      tags:
      - Master
      summary: Add User Grid Preference
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserGridPreferenceResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                GridGuid:
                  type: string
                  format: uuid
                UserGuid:
                  type: string
                  format: uuid
                GridValue:
                  type: integer
                  format: int32
                DefaultFilterVal:
                  type: integer
                  format: int32
                InvokingUser:
                  type: string
                  format: uuid
                Version:
                  type: string
                Culture:
                  type: string
                TokenCompanyGuid:
                  type: string
                  format: uuid
                CpId:
                  type: string
                Token:
                  type: string
                DebugInfo:
                  type: integer
                  format: int32
  /api/v2/Master/gridPreferences/{userGuid}:
    get:
      tags:
      - Master
      summary: API to retrive user's all grid preference
      parameters:
      - name: userGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserPreferenceGridResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Master/grid/gridPreference:
    put:
      tags:
      - Master
      summary: Update user grid preference
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserGridPreferenceUpdateResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                GridGuid:
                  type: string
                  format: uuid
                UserGuid:
                  type: string
                  format: uuid
                GridValue:
                  type: integer
                  format: int32
                DefaultFilterVal:
                  type: integer
                  format: int32
                InvokingUser:
                  type: string
                  format: uuid
                Version:
                  type: string
                Culture:
                  type: string
                TokenCompanyGuid:
                  type: string
                  format: uuid
                CpId:
                  type: string
                Token:
                  type: string
                DebugInfo:
                  type: integer
                  format: int32
                userGuid:
                  type: string
                  format: uuid
  /api/v2/Master/grid/preference/{userGuid}:
    put:
      tags:
      - Master
      parameters:
      - name: userGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceGridRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreferenceGridResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Master/gridLookUp:
    get:
      tags:
      - Master
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserGridLookUpResponse'
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/property-type:
    get:
      tags:
      - Property
      summary: Get property type list
      description: "<p>Property APIs allow you to create and manage custom properties. Custom properties have property types.\
        \ Examples of property types are device, user, entity.</p>\r\n<p>This API endpoint provides you the list of property\
        \ types. You need these property types at the time of creating a property.</p>"
      responses:
        '200':
          description: Indicates that property type list is loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PropertyTypeListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nCompany doesn't exist, Logged in user is invalid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/property-type/{propertyTypeId}:
    get:
      tags:
      - Property
      summary: Get properties for property type
      description: <p>This API endpoint gives you the list of available properties under the given property type. For that,
        you need to send <i>propertyTypeGuid</i> in request url.</p>
      parameters:
      - name: propertyTypeId
        in: path
        description: Property Type Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that property list is loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PropertyListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nProperty type doesn't exist, Company doesn't exist, Logged in user is invalid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Property/field-type:
    get:
      tags:
      - Property
      summary: Get field type list
      description: <p>This API endpoint gives you the list of valid field types. These field types are used to decide which
        HTML input control needs to be used for this property in UI. Examples of field types are Text, TextArea.</p>
      responses:
        '200':
          description: Indicates that field type list is loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FieldTypeListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Property:
    post:
      tags:
      - Property
      summary: Add new property
      description: <p>This API endpoint allows you to create a new custom property.</p>
      responses:
        '200':
          description: Indicates that property is created successfully and returns created property id.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PropertyCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nProperty type doesn't exist, Duplicate property name, Company doesn't exist, User is not valid\
            \ etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyCreateRequest'
        description: Json object
  /api/v2/Property/{propertyGuid}:
    put:
      tags:
      - Property
      summary: Update a property
      description: <p>This API endpoint allows you to update a custom property. For that, you need to send <i>propertyGuid</i>
        in request url and updated property details in the request body.</p>
      parameters:
      - name: propertyGuid
        in: path
        description: Property guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyUpdateRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that property is updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PropertyUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nProperty doesn't exist, Duplicate property name, Company doesn't exist, User is not valid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/property-type/{propertyTypeId}/property/{propertyId}:
    delete:
      tags:
      - Property
      summary: Delete a property
      description: <p>This API endpoint allows you to delete a custom property. For that, you need to send <i>propertyTypeGuid</i>
        and <i>propertyGuid</i> in request url.</p>
      parameters:
      - name: propertyTypeId
        in: path
        description: Property Type Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: propertyId
        in: path
        description: Property Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that property is deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PropertyDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nProperty doesn't exist, Company doesn't exist, User is not valid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
    get:
      tags:
      - Property
      summary: Get single property description
      description: <p>This API endpoint gives you a detailed description of a property. For that, you need to send <i>propertyTypeGuid</i>
        and <i>propertyGuid</i> in request url.</p>
      parameters:
      - name: propertyTypeId
        in: path
        description: Property Type Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: propertyId
        in: path
        description: Property Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that property detail is loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PropertyDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nProperty doesn't exist, Company doesn't exist, Logged in user is invalid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
  /api/v2/Property/custom-field-type:
    get:
      tags:
      - Property
      summary: Get field type list
      description: <p>This API endpoint gives you the list of valid field types. These field types are used to decide which
        HTML input control needs to be used for this property in UI. Examples of field types are Text, TextArea.</p>
      responses:
        '200':
          description: Indicates that field type list is loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FieldTypeListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConflictErrorModel'
security:
- Bearer: []
tags:
- name: Faq
  description: FAQ Api List
- name: Master
  description: Master Api List
- name: Property
  description: Property Api List
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
  schemas:
    CloudUIReaderData:
      type: object
      properties:
        host:
          type: string
          nullable: true
        vhost:
          type: string
          nullable: true
        user:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        port:
          type: integer
          format: int32
          nullable: true
        isSecure:
          type: integer
          format: int32
          nullable: true
        cpId:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        topic:
          type: string
          nullable: true
        vhost-alert:
          type: string
          nullable: true
        wsurl:
          type: string
          nullable: true
        telemetryTopic:
          type: string
          nullable: true
        notificationTopic:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
      additionalProperties: false
    ConflictErrorModel:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        error:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          nullable: true
      additionalProperties: false
    ConnectionVerifyRequest:
      type: object
      properties:
        type:
          type: string
          description: Connection Type should be SQLServer, RabbitMQ or ServiceBus.
          nullable: true
        params:
          type: object
          description: Connection Parameters
          nullable: true
      additionalProperties: false
    ConnectionVerifyRespoonse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    Country:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
      additionalProperties: false
    CountryListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Country'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    ErrorModel:
      type: object
      properties:
        param:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    ErrorsResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        error:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          nullable: true
      additionalProperties: false
    Faq:
      type: object
      properties:
        faqGuid:
          type: string
          nullable: true
          readOnly: true
        question:
          type: string
          nullable: true
        answer:
          type: string
          nullable: true
        sequence:
          type: integer
          format: int64
        createdDate:
          type: string
          format: date-time
        createdby:
          type: string
          nullable: true
          readOnly: true
        updatedDate:
          type: string
          format: date-time
        updatedByName:
          type: string
          nullable: true
      additionalProperties: false
    FaqCreate:
      type: object
      properties:
        newid:
          type: string
          nullable: true
      additionalProperties: false
    FaqCreateRequest:
      required:
      - answer
      - question
      type: object
      properties:
        question:
          minLength: 1
          type: string
          description: FAQ Question
        answer:
          minLength: 1
          type: string
          description: FAQ Answer
      additionalProperties: false
    FaqCreateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FaqCreate'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FaqDeleteResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FaqDetail:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        question:
          type: string
          nullable: true
        answer:
          type: string
          nullable: true
        sequence:
          type: integer
          format: int64
      additionalProperties: false
    FaqDetailResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FaqDetail'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FaqListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Faq'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FaqSequenceUpdateRequest:
      required:
      - newSequence
      type: object
      properties:
        newSequence:
          type: integer
          description: New FAQ Sequence
          format: int64
      additionalProperties: false
    FaqSequenceUpdateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FaqUpdateRequest:
      required:
      - answer
      - question
      - sequence
      type: object
      properties:
        sequence:
          minLength: 1
          type: string
          description: FAQ Sequence
        question:
          minLength: 1
          type: string
          description: FAQ Question
        answer:
          minLength: 1
          type: string
          description: FAQ Answer
      additionalProperties: false
    FaqUpdateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FieldTypeListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    Language:
      type: object
      properties:
        guid:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        cd:
          type: string
          nullable: true
      additionalProperties: false
    LanguageListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Language'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    NoContentResult:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
      additionalProperties: false
    PreferenceGridRequest:
      type: object
      properties:
        gridValue:
          type: integer
          format: int32
        gridCode:
          type: string
          nullable: true
        alwaysShowFilter:
          type: boolean
          default: false
        defaultFilterVal:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    PreferenceGridResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    PropertyCreate:
      type: object
      properties:
        newid:
          type: string
          nullable: true
      additionalProperties: false
    PropertyCreateRequest:
      required:
      - fieldType
      - name
      - propertyTypeGuid
      type: object
      properties:
        customFieldTypeGuid:
          type: string
          nullable: true
        propertyTypeGuid:
          minLength: 1
          type: string
          description: Property Type Guid
        name:
          minLength: 1
          type: string
          description: Property Name
        fieldType:
          minLength: 1
          type: string
          description: Property Field Type should be number, text, textarea, select, multiselect, date, time
        options:
          type: string
          description: Requires options list when field type is select or multiselect
          nullable: true
      additionalProperties: false
    PropertyCreateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PropertyCreate'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    PropertyDeleteResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    PropertyDetail:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        propertyTypeGuid:
          type: string
          nullable: true
          readOnly: true
        companyGuid:
          type: string
          nullable: true
        fieldType:
          type: string
          nullable: true
        options:
          type: string
          nullable: true
        isDeleted:
          type: boolean
        isSystem:
          type: boolean
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          nullable: true
          readOnly: true
        updatedDate:
          type: string
          format: date-time
        updatedBy:
          type: string
          nullable: true
          readOnly: true
        customFieldTypeGuid:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    PropertyDetailResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PropertyDetail'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    PropertyList:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        fieldType:
          type: string
          nullable: true
        options:
          type: string
          nullable: true
        propertytypeguid:
          type: string
          nullable: true
          readOnly: true
        customfieldtypeguid:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    PropertyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PropertyList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    PropertyTypeList:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        configkey:
          type: string
          nullable: true
      additionalProperties: false
    PropertyTypeListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PropertyTypeList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    PropertyUpdateRequest:
      required:
      - fieldType
      - name
      - propertyTypeGuid
      type: object
      properties:
        propertyTypeGuid:
          minLength: 1
          type: string
          description: Property Type Guid
        name:
          minLength: 1
          type: string
          description: Property Name
        fieldType:
          minLength: 1
          type: string
          description: Property Field Type should be number, text, textarea, select, multiselect, date, time
        options:
          type: string
          description: Requires options list when field type is select or multiselect
          nullable: true
      additionalProperties: false
    PropertyUpdateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    SignalRConfigData:
      type: object
      properties:
        cpId:
          type: string
          nullable: true
        topic:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
      additionalProperties: false
    SignalRConfigResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SignalRConfigData'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    StateList:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    StateListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StateList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    StompReaderData:
      type: object
      properties:
        host:
          type: string
          nullable: true
        vhost:
          type: string
          nullable: true
        user:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        port:
          type: integer
          format: int32
          nullable: true
        isSecure:
          type: integer
          format: int32
          nullable: true
        cpId:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        topic:
          type: string
          nullable: true
        vhost-alert:
          type: string
          nullable: true
        wsurl:
          type: string
          nullable: true
        telemetryTopic:
          type: string
          nullable: true
        notificationTopic:
          type: string
          nullable: true
      additionalProperties: false
    StompReaderResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/StompReaderData'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    TimeZoneListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Timezone'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    Timezone:
      type: object
      properties:
        utcName:
          type: string
          nullable: true
        offset:
          type: string
          nullable: true
        isdst:
          type: boolean
        isDeleted:
          type: boolean
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    UIProtocolReaderResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CloudUIReaderData'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    UserGridLookUpResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserPrefrenceGridModel'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    UserGridPreferenceList:
      type: object
      properties:
        gridValue:
          type: integer
          format: int32
        gridCode:
          type: string
          nullable: true
        alwaysShowFilter:
          type: boolean
        quickFilterVal:
          type: integer
          format: int32
          nullable: true
        defaultFilterVal:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    UserGridPreferenceResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    UserGridPreferenceUpdateResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    UserPreferenceGridResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserGridPreferenceList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    UserPrefrenceGridModel:
      type: object
      properties:
        guid:
          type: string
          format: uuid
        maxValue:
          type: integer
          format: int32
      additionalProperties: false
