openapi: 3.0.0
info:
  title: /IOTCONNECT™ Firmware API
  description: "Firmware REST API contains information of Device modules. It will give API methods to firmware communication\
    \ and OTA.\n<br /><h2>Headers</h2><p>Needed Headers for all the API. \n<br />\n<br /> Authorization &emsp;&nbsp;  &emsp;<b><i\
    \ style=\"font-style: italic !important;\">Bearer + access_token (Generated From api/v1.1/auth/login API)</i></b>\n<br\
    \ /> Content-Type &emsp;&nbsp;&emsp;<b><i style=\"font-style: italic !important;\">application/json</i></b></p>"
  version: '2.0'
  x-source: https://firmware.iotconnect.io/api/v2/swagger-json
  x-harvested: '2026-09-18'
  x-original: openapi/_original/avnet-iotconnect-firmware-azure-prod-swagger.json
  x-conversion: Swagger 2.0 -> OpenAPI 3.0.0 via swagger2openapi; operations, parameters, schemas and responses are as published
    — only servers[] and these x- provenance keys were added. No operationIds are published by the provider and none were
    invented.
  x-ownership: IoTConnect is Avnet's own IoT platform (docs.iotconnect.io is titled "Avnet /IOTCONNECT", carries "Copyright
    Avnet, Inc." and links github.com/avnet-iotconnect); the product lives on iotconnect.io rather than avnet.com.
servers:
- url: https://firmware.iotconnect.io
  description: /IOTCONNECT production (Azure platform) — the host the docs page resolves for env=prod&pf=az; paths carry the
    /api/v2 prefix
paths:
  /api/v2/Firmware:
    post:
      tags:
      - Firmware
      summary: Add new firmware
      description: "<p>Firmware on the devices connected to the IoT hub needs to be updated as per the requirements. For example,\
        \ you may need to add new features to the firmware or make your security patches stronger. You can update firmware\
        \ remotely.</p>\r\n<p>This API endpoint allows you to create new firmware for your devices.</p>\r\n<p>Here, the <i>hardware</i>\
        \ is a firmware hardware version. <i>software</i> is a firmware software version. <i>firmwareFile</i> requires a firmware\
        \ file.</p>\r\n<p>\r\n  <b>Note : </b>Once firmware created successfully API returns firmware details with firmwareUpgradeGuid\
        \ and \r\n            you must required to upload firmware file in file service with firmwareUpgradeGuid, for gateway\
        \ device requires to send tag in file request body.</p>"
      responses:
        '200':
          description: Indicates that firmware created successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nFirmware name already exists, firmware software version already exists, firmware hardware\
            \ version already exists\r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareCreateV2Request'
    get:
      tags:
      - Firmware
      summary: Get firmware list
      description: "<p>This API endpoint gives you a firmware list.</p>\r\n<p>You can also add the filters as given in the\
        \ parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query\
        \ string.</p>"
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: Search Text
        schema:
          type: string
      - name: sortBy
        in: query
        description: To sort the list. To do that, Specify Field name to sort with and sorting order. Eg. name asc, name desc,
          name etc
        schema:
          type: string
      - name: Name
        in: query
        description: Firmware name for search
        schema:
          type: string
      - name: Hardware
        in: query
        description: Hardware version for search
        schema:
          type: string
      - name: ReleaseCount
        in: query
        description: Release count for search
        schema:
          type: string
      - name: DraftCount
        in: query
        description: Draft count for search
        schema:
          type: string
      - name: IsLowBandwidth
        in: query
        schema:
          type: string
      - name: IsEdge
        in: query
        schema:
          type: string
      - name: IsGateway
        in: query
        schema:
          type: string
      - name: isIotEdgeEnable
        in: query
        schema:
          type: boolean
      - name: IsSphere
        in: query
        schema:
          type: string
      - name: TemplateName
        in: query
        schema:
          type: string
      - name: includeDeprecated
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the firmware list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareGetListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Firmware/{firmwareGuid}:
    put:
      tags:
      - Firmware
      summary: Update Firmware
      description: <p>This API endpoint allows you to update the firmware. For that, you need to send <i>firmwareGuid</i>
        in request url and updated firmware details in the request body. <i>Status</i> should be draft or released.</p>
      parameters:
      - name: firmwareGuid
        in: path
        description: firmwareGuid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareUpdateV2Request'
        description: Json object
      responses:
        '200':
          description: Indicates that firmware updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nfirmware not found, firmware name already exists, firmware software version already exists,\
            \ firmware hardware version already exists,\r\nfirmware status or firmware hardware version can not update if\
            \ one or more firmware upgrade is released\r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    get:
      tags:
      - Firmware
      summary: Get firmware details
      description: <p>This API endpoint provides you a detailed description of firmware along with their upgrade details.</p>
      parameters:
      - name: firmwareGuid
        in: path
        description: Firmware Guid. For multiple firmwareGuids send comma(,) separated list
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the firmware details received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Firmware/lookup:
    get:
      tags:
      - Firmware
      summary: Get firmware lookup list
      description: <p>This API endpoint gives you a firmware lookup list for devices.</p>
      parameters:
      - name: isDraft
        in: query
        description: true for get draft firmwares.
        schema:
          type: boolean
      - name: includeDeprecated
        in: query
        schema:
          type: boolean
      - name: isEdge
        in: query
        description: 'IsEdge : Pass value as true to get only those firmwares which are associated with edge templates'
        schema:
          type: boolean
      - name: isGateway
        in: query
        description: 'IsGateway : Pass value as true to get only those firmwares which are associated with gateway templates'
        schema:
          type: boolean
      - name: isLowBandwidth
        in: query
        description: 'IsLowBandwidth : Pass value as true to get only those firmwares which are associated with lowbandwidth
          templates'
        schema:
          type: boolean
      - name: isIotEdgeEnable
        in: query
        description: 'IsIoTEdgeEnable : Pass value as true to get only those firmwares which are associated with IoTEdgeEnable
          templates'
        schema:
          type: boolean
      - name: isSphere
        in: query
        description: 'isSphere : Pass value as true to get only those firmwares which are sphere firmwares'
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the firmware lookup received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareLookupResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/firmware-validate:
    post:
      tags:
      - Firmware
      summary: Validate firmware
      description: <p>This API endpoint validates your firmware details.</p>
      responses:
        '200':
          description: Indicates that the firmware validated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareValidateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nfirmware code already exists, firmware version already exists,\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareValidateRequest'
        description: Json object
  /api/v2/Firmware/{firmwareGuid}/deprecate:
    put:
      tags:
      - Firmware
      summary: Deprecate Firmware
      description: <p>This API endpoint allows you to deprecate the firmware. For that, you need to send <i>firmwareGuid</i>
        in request url</p>
      parameters:
      - name: firmwareGuid
        in: path
        description: firmwareGuid to deprecate firmware
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the firmware deprecated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nfirmware not found, firmware is already deprecated and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/firmware-upgrade:
    post:
      tags:
      - FirmwareUpgrade
      summary: Add new firmware upgrade
      description: "<p>This API endpoint allows you to add new firmware software versions of your firmware.</p>\r\n<p>Here,\
        \ <i>firmwareGuid</i> defines you want the upgrade of which firmware. <i>Software</i> is a firmware software version.\
        \ The <i>firmwareFile</i> requires a firmware upgrade file.</p>\r\n<p>\r\n  <b>Note : </b>Once firmware upgrade created\
        \ successfully, API returns firmwareUpgradeGuid and \r\n            you must required to upload firmware file in file\
        \ service API with firmwareUpgradeGuid, for gateway device requires to send tag in file request body.</p>"
      responses:
        '200':
          description: Indicates that firmware upgrade created successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareUpgradeCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nfirmware not found, firmware software version already exists and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareUpgradeCreateV2Request'
        description: Json object
    get:
      tags:
      - FirmwareUpgrade
      summary: Get firmware software list
      description: "<p>This API endpoint provides you the list of firmware software versions. To get software versions of\
        \ a particular firmware, you need to send firmware guid in the <i>firmwareGuid</i> parameter.</p>\r\n<p>Here, the\
        \ <i>type</i> parameter is mandatory. It must be draft or released.</p>\r\n<p>You can also add the filters as given\
        \ in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a\
        \ query string.</p>"
      parameters:
      - name: firmwareguid
        in: query
        description: Firmware guid
        schema:
          type: string
          format: uuid
      - name: type
        in: query
        description: Firmware upgrade type should be draft or released or both.
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: To sort the list. To do that, Specify Field name to sort with and sorting order. Eg. version asc, version
          desc, version etc
        schema:
          type: string
      responses:
        '200':
          description: Indicates that firmware upgrade list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareUpgradeGetListResonse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/firmware-upgrade/{firmwareUpgradeGuid}:
    put:
      tags:
      - FirmwareUpgrade
      summary: Update firmware upgrade
      description: "<p>This API endpoint helps you to update a firmware software version. For that, you need to send <i>firmwareUpgradeGuid</i>\
        \ in request url and updated firmware software version details in the request body.</p>\r\n<p>Here, <i>firmwareGuid</i>\
        \ defines you want the upgrade of which firmware. <i>Software</i> is a firmware software version. The <i>firmwareFile</i>\
        \ requires a firmware upgrade file.</p>"
      parameters:
      - name: firmwareUpgradeGuid
        in: path
        description: Firmware Upgrade Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirmwareUpgradeUpdateV2Request'
        description: Json object
      responses:
        '200':
          description: Indicates that firmware upgrade updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareUpgradeUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nFirmware software version is released, firmware software version already exists, firmware\
            \ hardware version already exists\r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    delete:
      tags:
      - FirmwareUpgrade
      summary: Delete firmware upgrade
      description: <p>This API endpoint allows you to delete the firmware software version. For that, you need to send <i>firmwareUpgradeGuid</i>
        in request url.</p>
      parameters:
      - name: firmwareUpgradeGuid
        in: path
        description: Firmware upgrade Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: isDeleteSingleFirmware
        in: query
        description: "send true to forcefully delete if only this single draft firmware upgrade exists in firmware. \r\n \
          \           Otherwise systme will check that any other firmware upgrade must be exists in associated firmware"
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that firmware upgrade deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nfirmware upgrade not found, released firmware upgrade can not delete, single firmware upgrade\
            \ can not delete\r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    get:
      tags:
      - FirmwareUpgrade
      summary: Get firmware upgrade details
      description: <p>This API endpoint gives you a detailed description of firmware upgrade details.</p>
      parameters:
      - name: firmwareUpgradeGuid
        in: path
        description: Firmware upgrade guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that firmware upgrade details received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmwareUpGradeListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nfirmware upgrade not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/firmware-upgrade/{firmwareUpgradeGuid}/publish:
    put:
      tags:
      - FirmwareUpgrade
      summary: Publish firmware upgrade
      description: <p>This API endpoint helps you to publish/release firmware software versions. For that, you need to send
        <i>firmwareUpgradeGuid</i> in request url. This lets you publish firmware software versions with draft status only.</p>
      parameters:
      - name: firmwareUpgradeGuid
        in: path
        description: Firmware upgrade guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that firmware upgrade publish process started successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublishFirmwareUpgradeResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nfirmware upgrade not found, released firmware upgrade already published\r\nand invalid logged\
            \ user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/firmware/{firmwareGuid}/lookup:
    get:
      tags:
      - FirmwareUpgrade
      summary: Get firmware software version lookup list
      description: <p>This API endpoint lets you access the lookup list of firmware software versions. For that, you need
        to send <i>firmwareGuid</i> in request url.</p>
      parameters:
      - name: firmwareGuid
        in: path
        description: Firmware guid
        required: true
        schema:
          type: string
          format: uuid
      - name: isDraft
        in: query
        description: send true to get draft firmware upgrades
        schema:
          type: boolean
      - name: isSphere
        in: query
        description: To get sphere firmwares
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that firmware upgrade lookup received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmWareLookupListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/firmware-upgrade/lookup/{firmwareGuid}:
    get:
      tags:
      - FirmwareUpgrade
      summary: Get firmware upgrade lookup list
      description: <p>This API endpoint gives you the lookup list of firmware software versions. For that, you need to send
        <i>firmwareGuid</i> in request url.</p>
      parameters:
      - name: firmwareGuid
        in: path
        description: Firmware guid
        required: true
        schema:
          type: string
          format: uuid
      - name: isSphere
        in: query
        description: To get sphere firmwares
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that firmware upgrade lookup received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FirmWareLookupListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/iot-edge/deployments:
    post:
      tags:
      - IoTEdgeDeployment
      summary: Create new IoT Edge Deployment
      description: <p></p>
      responses:
        '200':
          description: Indicates that deployment completed successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IoTEdgeDeploymentCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nFirmware name already exists, firmware software version already exists, firmware hardware\
            \ version already exists\r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IoTEdgeDeploymentCreateRequest'
    get:
      tags:
      - IoTEdgeDeployment
      summary: Get IoT edge deployment list
      description: "<p>This API endpoint provides you the list of iot edge deployments.</p>\r\n<p>You can also add the filters\
        \ as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters\
        \ in a query string.</p>"
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. eg: 25'
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. eg: firstName asc'
        schema:
          type: string
      responses:
        '200':
          description: Indicates that deployment list is loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IoTEdgeDeploymentListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server\r\nCompany doesn't exist, Logged in user is not valid etc."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/module-type/lookup:
    get:
      tags:
      - Module
      summary: Get module type lookup list
      description: <p>This API endpoint gives you a module type lookup list for module.</p>
      responses:
        '200':
          description: Indicates that the module type lookup received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModuleTypeLookupResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Module/lookup:
    get:
      tags:
      - Module
      summary: Get module lookup list
      description: <p>This API endpoint gives you a module lookup list.</p>
      responses:
        '200':
          description: Indicates that the module lookup received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModuleLookupResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Module/{moduleGuid}:
    get:
      tags:
      - Module
      summary: Get module detail by moduleGuid
      description: <p>This API endpoint gives you a detailed description of module details.</p>
      parameters:
      - name: moduleGuid
        in: path
        description: moduleGuid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that module details received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModuleDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nmodule not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    put:
      tags:
      - Module
      summary: Update module by moduleGuid
      description: "<p>This API endpoint allows you to update the module. For that, you need to send <i>moduleGuid</i> in\
        \ request url and updated module details in the request body. \r\n            <i>fileName</i> is a module file name.<i>version</i>\
        \ is a module version.</p>"
      parameters:
      - name: moduleGuid
        in: path
        description: Module guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleUpdateRequest'
        description: Json object used as input
      responses:
        '200':
          description: Indicates that module updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModuleUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nmodule not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    delete:
      tags:
      - Module
      summary: Delete module by moduleGuid
      description: <p>This API endpoint allows you to delete the module. For that, you need to send <i>moduleGuid</i> in request
        url.</p>
      parameters:
      - name: moduleGuid
        in: path
        description: Module guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that module deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModuleDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nmodule not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Module:
    get:
      tags:
      - Module
      summary: Get module list
      description: "<p>This API endpoint provides you the list of module.</p>\r\n<p>You can also add the filters as given\
        \ in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a\
        \ query string.</p>"
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: To sort the list. To do that, Specify Field name to sort with and sorting order. Eg. version asc, version
          desc, version etc
        schema:
          type: string
      responses:
        '200':
          description: Indicates that module list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModuleListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    post:
      tags:
      - Module
      summary: Add module
      description: "<p>Module on the devices connected to the IoT hub needs to be updated as per the requirements. For example,\
        \ you may need to add new features to the module or make your AI stronger. You can update module remotely.</p>\r\n\
        <p>This API endpoint allows you to create new module for your devices.</p>\r\n<p>Here, the <i>moduleTypeGuid</i> is\
        \ a module type guid which you can get from module type lookup API endpoint. <i>name</i> is a module name. <i>code</i>\
        \ is a module code.<i>fileName</i> is a module file name.<i>version</i> is a module version.</p>\r\n<p>\r\n  <b>Note\
        \ : </b>Once module created successfully, API returns moduleGuid and you must required to upload module file in file\
        \ service API with moduleGuid.</p>"
      responses:
        '200':
          description: Indicates that module created successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModuleCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nmodule type not found, module code already exists and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleCreateRequest'
        description: Json object used as input
  /api/v2/Module/push:
    post:
      tags:
      - Module
      summary: Push a module on multiple devices
      description: "<p>Push a module on multiple devices using this API endpoint. For that, you need to send either <i>entityGuid</i>\
        \ or <i>deviceGuid</i> list along with <i>moduleGuid</i> in the request body.</p>\r\n<p>If you wish to send <i>entityGuid</i>,\
        \ send value “1” in the <i>applyTo</i> parameter and entity guid in <i>entityGuid</i> parameter. This will push module\
        \ to all the devices available in the given entity. With this entity devices you can also push this module to all\
        \ devices which are exists in child entities. For that, you need to send value “true” in <i>isRecursive</i> parameter.</p>\r\
        \n<p>If you wish to send <i>deviceGuid</i> list, send value “2” in the <i>applyTo</i> parameter and list of device\
        \ guids in devices parameter. This will push module to selected devices only.</p>"
      responses:
        '200':
          description: Indicates that module push process started successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModulePushResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nmodule not found, entity not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModulePushRequestV2'
        description: Json object
    get:
      tags:
      - Module
      summary: Get module push list
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: To sort the list. To do that, Specify Field name to sort with and sorting order. Eg. name asc, name desc,
          name etc
        schema:
          type: string
      responses:
        '200':
          description: Indicates that module push item list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModulePushListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update:
    post:
      tags:
      - OTA
      summary: Send OTA update
      description: "<p>This API endpoint allows you to send OTA updates to devices.</p>\r\n<p>Here, <i>firmwareUpgradeGuid</i>\
        \ is a firmware software version guid. The <i>entityGuid</i> defines this software update will be available for which\
        \ entity devices. Send true in <i>isForceUpdate</i> parameter, if you wish devices to update this software forcefully.\
        \ If you want to send this software update to devices at some particular time, send the date in <i>scheduledOn</i>\
        \ parameter.</p>\r\n<p>target value should be 1,2 or 3</p>"
      responses:
        '200':
          description: Indicates that OTA update process started successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nfirmware not found, firmware upgrade file not found, firmware upgrade not found, invalid entity,\
            \ schedule on is past datetime,\r\ndevice template not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OTAUpdateRequest'
        description: scheduledOn should be on format - YYYY-MM-DD HH:mm:ss.
    get:
      tags:
      - OTA
      summary: Get OTA update sent list
      description: "<p>This API endpoint gives you the list of OTA updates that you have sent to devices. This also gives\
        \ you the OTA update status, indicating that in how many devices it is updated, or still pending or failed to update.</p>\r\
        \n<p>You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you\
        \ need to send these filter parameters in a query string.</p>"
      parameters:
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: Sort by name and order/ex:hardware,software,forceupdate,updatedDate,updatedBy,entity asc
        schema:
          type: string
      - name: Software
        in: query
        description: Software version for search
        schema:
          type: string
      - name: Hardware
        in: query
        description: Hardware version for search
        schema:
          type: string
      - name: IsForceUpdate
        in: query
        description: Send true to get only those OTA updates which are enabled force update
        schema:
          type: string
      - name: Entity
        in: query
        description: Entity name for search
        schema:
          type: string
      - name: IsScheduled
        in: query
        description: Send true to get scheduled OTA updates
        schema:
          type: string
      - name: Status
        in: query
        description: Search with status, Eg. pending, success, failed, sent, skipped, executed etc.
        schema:
          type: string
      - name: TemplateName
        in: query
        description: Search with template name.
        schema:
          type: string
      - name: Cancelled
        in: query
        schema:
          type: string
      - name: isTrialDraft
        in: query
        schema:
          type: boolean
      - name: includeDeprecated
        in: query
        description: To include deprecated firmware's ota updates
        schema:
          type: boolean
      - name: isEdge
        in: query
        description: 'IsEdge : Pass value as true to get only those ota updates which are associated with edge templates'
        schema:
          type: boolean
      - name: isGateway
        in: query
        description: 'IsGateway : Pass value as true to get only those ota updates which are associated with gateway templates'
        schema:
          type: boolean
      - name: isLowBandwidth
        in: query
        description: 'IsLowBandwidth : Pass value as true to get only those ota updates which are associated with lowbandwidth
          templates'
        schema:
          type: boolean
      - name: isSphere
        in: query
        description: 'IsSphere : Pass value as true to get only sphere ota updates'
        schema:
          type: boolean
      - name: isOTASchedule
        in: query
        schema:
          type: boolean
      - name: firmwareUpgradeGuid
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that OTA update list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/{otaUpdateGuid}:
    get:
      tags:
      - OTA
      summary: Get device list for OTA update
      description: "<p>This API endpoint provides you the list of devices, which are going to receive OTA updates. For that,\
        \ you need to send <i>otaUpdateGuid</i> in request url.</p>\r\n<p>You can also add the filters as given in the parameters.\
        \ Though the filters are optional, to apply them, you need to send these filter parameters in a query string.</p>"
      parameters:
      - name: otaUpdateGuid
        in: path
        description: OTA update guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        description: Search with status, Eg. pending, success, failed, sent, skipped, executed etc.
        schema:
          type: string
      - name: sortBy
        in: query
        description: To sort the list. To do that, Specify Field name to sort with and sorting order. Eg. entityName asc,
          entityName desc, entityName etc
        schema:
          type: string
      responses:
        '200':
          description: Indicates that device list for OTA update received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/{otaUpdateGuid}/status/{status}:
    get:
      tags:
      - OTA
      summary: Get device list for OTA update with update status
      description: "<p>This API endpoint gives you the list of devices, which are going to receive OTA update for given status\
        \ only. For that, you need to send <i>otaUpdateGuid</i> and <i>status</i> in request url.</p>\r\n<p>You can also add\
        \ the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter\
        \ parameters in a query string.</p>"
      parameters:
      - name: otaUpdateGuid
        in: path
        description: OTA update guid
        required: true
        schema:
          type: string
          format: uuid
      - name: status
        in: path
        description: Status, Eg. pending, success, failed, sent, skipped, executed, cancelled etc.
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: To sort the list. To do that, Specify Field name to sort with and sorting order. Eg. status asc, status
          desc, status etc
        schema:
          type: string
      responses:
        '200':
          description: Indicates that device list for OTA update received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/device-update-history:
    post:
      tags:
      - OTA
      summary: Get OTA update history for devices
      description: "<p>This API endpoint provides you the list of OTA updates that you have sent to devices. For that, you\
        \ need to send the device guid list in <i>device</i> parameter in the request body.</p>\r\n<p>You can also add the\
        \ filters as given in the parameters. These filters are optional.</p>"
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OTAUpdateHistoryDeviceList'
        description: Json object
      responses:
        '200':
          description: Indicates that device OTA update history list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateHistoryListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/device/{deviceGuid}/recent:
    get:
      tags:
      - OTA
      summary: Get recent OTA update list for a single device
      description: "<p>This API endpoint lets you access the list of recently sent OTA updates to a single device. For that,\
        \ you need to send a device guid in request url.</p>\r\n<p>You can also add the filters as given in the parameters.\
        \ Though the filters are optional, to apply them, you need to send these filter parameters in a query string.</p>"
      parameters:
      - name: deviceGuid
        in: path
        description: Device guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: To sort the list. To do that, Specify Field name to sort with and sorting order. Eg. status asc, status
          desc, status etc
        schema:
          type: string
      responses:
        '200':
          description: Indicates that recent OTA update list for single device received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateRecentListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nOTA update item not found, device not found, entity not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/device/{deviceGuid}/otaupdateItem/{otaUpdateItemGuid}/status/{status}:
    put:
      tags:
      - OTA
      summary: Update device OTA update status using device guid
      description: <p>This API endpoint allows you to update the status of device OTA update. For that, you need to send device
        guid, OTA update item guid and new update status in request url. OTA update item guid is a unique combination for
        each device and otaUpdate.</p>
      parameters:
      - name: deviceGuid
        in: path
        description: Device guid
        required: true
        schema:
          type: string
          format: uuid
      - name: otaUpdateItemGuid
        in: path
        description: OTA update item guid
        required: true
        schema:
          type: string
          format: uuid
      - name: status
        in: path
        description: Status, Eg. pending, success, failed, sent, skipped, executed, cancelled etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that OTA update item status updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateFirmwareStatusUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nOTA update item not found, device not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/device/{uniqueId}/otaupdate-item/{otaUpdateItemGuid}/status/{status}:
    put:
      tags:
      - OTA
      summary: Update device OTA update status using device unique id
      description: <p>This API endpoint allows you to update the status of device OTA update. For that, you need to send device
        unique id, OTA update item guid and new update status in request url. OTA update item guid is a unique combination
        for each device and otaUpdate.</p>
      parameters:
      - name: uniqueId
        in: path
        description: Device unique id
        required: true
        schema:
          type: string
      - name: otaUpdateItemGuid
        in: path
        description: OTA update item guid
        required: true
        schema:
          type: string
          format: uuid
      - name: status
        in: path
        description: Status, Eg. pending, success, failed, sent, skipped, executed, cancelled etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that OTA update item status updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateFirmwareStatusUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nOTA update item not found, device not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/device/{deviceGuid}/ota-update:
    get:
      tags:
      - OTA
      summary: Get recent pending or failed OTA update list for a single device
      description: <p>This API endpoint gives you the list of recently sent OTA updates to a device that is pending. For that,
        you need to send a device guid in request url.</p>
      parameters:
      - name: deviceGuid
        in: path
        description: Device guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that recent pending or failed OTA update list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateDeviceDetailResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nOTA update item not found, device not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/recent:
    get:
      tags:
      - OTA
      summary: Get recent OTA updates list
      description: "<p>This API endpoint gives you the list of recently sent OTA updates.</p>\r\n<p>You can also add the filters\
        \ as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters\
        \ in a query string.</p>"
      parameters:
      - name: isRecursive
        in: query
        description: Send true to get only recursive OTA updates
        schema:
          type: boolean
      - name: entityGuid
        in: query
        description: Entity guid
        schema:
          type: string
          format: uuid
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: To sort the list. To do that, Specify Field name to sort with and sorting order. Eg. status asc, status
          desc, status etc
        schema:
          type: string
      - name: Entries
        in: query
        description: 'To get top records from available items Eg: 10'
        schema:
          type: string
      responses:
        '200':
          description: Indicates that recent OTA update list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateRecentListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nOTA update item not found, device not found, entity not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/recent-activity:
    get:
      tags:
      - OTA
      summary: Get recent OTA updates list for all devices
      description: "<p>This API endpoint gives you the list of recently sent OTA updates to devices.</p>\r\n<p>You can also\
        \ add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these\
        \ filter parameters in a query string.</p>"
      parameters:
      - name: status
        in: query
        description: Status, Eg. pending, success, failed, sent, skipped, executed, cancelled etc.
        schema:
          type: string
      - name: count
        in: query
        description: Number of ota updates statistics to display
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that recent OTA update list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateRecentActivityListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/cancel-scheduled-otaupdate:
    put:
      tags:
      - OTA
      summary: Update device OTA update cancel status
      description: <p>This API endpoint allows you to update the cancel status of device OTA update.</p>
      responses:
        '200':
          description: Indicates that OTA update item status updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateFirmwareCancelStatusUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nOTA update item not found, device not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OTAUpdateFirmwareCancelStatusUpdateRequest'
        description: request model contain either otaUpdateItemGuid or otaUpdateGuid
  /api/v2/ota-update/otaUpdateFeedback/{otaUpdateItemGuid}:
    post:
      tags:
      - OTA
      summary: Get ota update command feedback
      description: <p>This API endpoint provides you the feedback of command. This also gives you the status of whether the
        command feedback was successfully executed or not.</p>
      parameters:
      - name: otaUpdateItemGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the command feedback received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateCommandFeedbackResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/ota-update/device/{deviceGuid}/ota-update:
    get:
      tags:
      - OTA
      summary: Get OTA update list according a device
      description: "<p>This API endpoint lets you access the list of devices . For that, you need to send a device guid in\
        \ request url.</p>\r\n<p>You can also add the filters as given in the parameters. Though the filters are optional,\
        \ to apply them, you need to send these filter parameters in a query string.</p>"
      parameters:
      - name: deviceGuid
        in: path
        description: Device guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that OTA update list according a device received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OTAUpdateDeviceResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nOTA update item not found, device not found, entity not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
security:
- Bearer: []
tags:
- name: Firmware
  description: Firmware Api List
- name: FirmwareUpgrade
  description: FirmwareUpgrade Api List
- name: IoTEdgeDeployment
  description: IoTEdge Deployments Api List
- name: Module
  description: Module Api List
- name: OTA
  description: OTA Api List
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
  schemas:
    Device:
      type: object
      properties:
        deviceguid:
          type: string
          nullable: true
      additionalProperties: false
    ErrorModel:
      type: object
      properties:
        param:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    ErrorsResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        error:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          nullable: true
      additionalProperties: false
    FileUrl:
      type: object
      properties:
        url:
          type: string
          nullable: true
        tag:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    FirmWareLookupList:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        software:
          type: string
          nullable: true
      additionalProperties: false
    FirmWareLookupListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FirmWareLookupList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FirmwareCreate:
      type: object
      properties:
        newId:
          type: string
          nullable: true
          readOnly: true
        firmwareUpgradeGuid:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    FirmwareCreateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FirmwareCreate'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FirmwareCreateV2Request:
      required:
      - deviceTemplateGuid
      - firmwareName
      - hardware
      - software
      type: object
      properties:
        deviceTemplateGuid:
          minLength: 1
          type: string
          description: Associated Device Template Guid
        software:
          maxLength: 20
          minLength: 1
          type: string
          description: Firmware Software Version
        firmwareUpgradeDescription:
          maxLength: 250
          type: string
          description: Firmware Description
          nullable: true
        tag:
          type: array
          items:
            type: string
          description: "Tag of device template \r\nRequired if device template has enabled gateway support."
          nullable: true
        FirmwareDescription:
          maxLength: 250
          type: string
          description: Firmware Description
          nullable: true
        firmwareName:
          maxLength: 10
          minLength: 3
          type: string
          description: Firmware Name
        hardware:
          maxLength: 20
          minLength: 1
          type: string
          description: Firmware Hardware Version
      additionalProperties: false
    FirmwareDetail:
      required:
      - name
      type: object
      properties:
        code:
          type: string
          description: Firmware code
          nullable: true
        hardware:
          type: string
          description: Firmware hardware version
          nullable: true
        software:
          type: string
          description: Firmware software version
          nullable: true
        name:
          minLength: 1
          type: string
          description: Firmware name
      additionalProperties: false
    FirmwareGetList:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        hardware:
          type: string
          nullable: true
        createdDate:
          type: string
          format: date-time
        createdby:
          type: string
          nullable: true
          readOnly: true
        updatedDate:
          type: string
          format: date-time
        releaseCount:
          type: integer
          format: int32
        draftCount:
          type: integer
          format: int32
        isDeprecated:
          type: boolean
        deviceTemplateGuid:
          type: string
          nullable: true
          readOnly: true
        deviceTemplateCode:
          type: string
          nullable: true
        deviceTemplateName:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        firmwareDescription:
          type: string
          nullable: true
        isSolutionTemplate:
          type: boolean
      additionalProperties: false
    FirmwareGetListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FirmwareGetList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FirmwareList:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        firmwareUpgradeDescription:
          type: string
          nullable: true
        hardware:
          type: string
          nullable: true
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          nullable: true
          readOnly: true
        updatedDate:
          type: string
          format: date-time
        updatedBy:
          type: string
          nullable: true
          readOnly: true
        isDeprecated:
          type: boolean
        Upgrades:
          type: array
          items:
            $ref: '#/components/schemas/Upgrade'
          nullable: true
        deviceTemplateGuid:
          type: string
          nullable: true
          readOnly: true
        deviceTemplateCode:
          type: string
          nullable: true
        deviceTemplateName:
          type: string
          nullable: true
      additionalProperties: false
    FirmwareListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FirmwareList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FirmwareLookup:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        hardware:
          type: string
          nullable: true
        isDeprecated:
          type: boolean
      additionalProperties: false
    FirmwareLookupResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FirmwareLookup'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    FirmwareUpGradeList:
      type: object
      properties:
        firmwareguid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        hardware:
          type: string
          nullable: true
        guid:
          type: string
          nullable: true
          readOnly: true
        software:
          type: string
          nullable: true
        firmwareUpgradeDescription:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        fileName:
          type: string
          nullable: true
        isDraft:
          type: string
          nullable: true
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
          nullable: true
          readOnly: true
        updatedDate:
          type: string
          format: date-time
        updatedBy:
          type: string
          nullable: true
          readOnly: true
        fileUrl:
          type: string
          nullable: true
        deviceTemplateGuid:
          type: string
          nullable: true
          readOnly: true
        urls:
          type: array
          items:
            $ref: '#/components/schemas/FileUrl'
          nullable: true
      additionalProperties: false
    FirmwareUpGradeListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FirmwareUpGradeList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
[...]
