openapi: 3.0.0
info:
  title: /IOTCONNECT™ Event API
  description: Event REST API contains information of Event modules.
  version: '1.1'
  x-source: https://event.iotconnect.io/api/v1.1/swagger-json
  x-harvested: '2026-09-18'
  x-original: openapi/_original/avnet-iotconnect-event-azure-prod-swagger.json
  x-conversion: Swagger 2.0 -> OpenAPI 3.0.0 via swagger2openapi; operations, parameters, schemas and responses are as published
    — only servers[] and these x- provenance keys were added. No operationIds are published by the provider and none were
    invented.
  x-ownership: IoTConnect is Avnet's own IoT platform (docs.iotconnect.io is titled "Avnet /IOTCONNECT", carries "Copyright
    Avnet, Inc." and links github.com/avnet-iotconnect); the product lives on iotconnect.io rather than avnet.com.
servers:
- url: https://event.iotconnect.io
  description: /IOTCONNECT production (Azure platform) — the host the docs page resolves for env=prod&pf=az; paths carry the
    /api/v1.1 prefix
paths:
  /api/v1.1/Event/subscription/subscribe:
    post:
      tags:
      - Event
      summary: Subscribe to an event
      description: "<p>Events play a crucial role in supervising users and devices (onshore or offshore) 24X7. These events\
        \ can range from technical occurrences like creating a device, acquiring a device to changing an attribute by a user\
        \ in a specific template. To notify users about any such events, a user needs to subscribe.</p>\r\n<p>Subscribe for\
        \ events using this API endpoint. </p>\r\n<p>1.eventGuid 2.eventName 3.using both  Let’s suppose, when the user employs\
        \ both request parameters and out of it eventGuid is not correct.Even in that scene, eventGuid will be given priority\
        \ and get validation. Here, <i>deliveryMethod</i> defines how you would like to notify a user, either by email, SMS,\
        \ or push. If you provide role guid in <i>roleGuid</i> parameter, it will notify the users of that role. You can also\
        \ give a list of user’s guid to notify users contained in a list.</p>"
      responses:
        '200':
          description: Indicates that the event subscribed successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventSubscriptionCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent not found, delivery method not found, delivery method not active, event subscription\
            \ already exists, severity level not exists \r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionCreateRequest'
        description: Json object. eventGuid or eventName is required
  /api/v1.1/Event/subscription/{subscriptionGuid}:
    put:
      tags:
      - Event
      summary: Update event subscription details
      description: <p>This API endpoint allows you to update event subscription details. For that, you need to send <i>subscriptionGuid</i>
        in request url and updated event subscription details in the request body.</p>
      parameters:
      - name: subscriptionGuid
        in: path
        description: Event Subscription Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionUpdateRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that the event subscription updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventSubscriptionUpdateResponse'
        '204':
          description: Indicates that RefData is null or RoleGuids or UserGuids not found in RefData.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDelivery method not found, delivery method not active, event subscription not exists, severity\
            \ level not exists \r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    get:
      tags:
      - Event
      summary: Get details of single subscription
      description: <p>This API endpoint gives you a detailed description of the subscribed event subscription. For that, you
        need to send <i>subscriptionGuid</i> in request url.</p>
      parameters:
      - name: subscriptionGuid
        in: path
        description: Event Subscription Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the event subscription received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventSubscriptionDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent subscription not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event/subscription/{subscriptionGuid}/un-subscribe:
    delete:
      tags:
      - Event
      summary: Delete event subscription
      description: <p>This API endpoint allows you to unsubscribe an event subscription. For that, you need to send event
        <i>subscriptionGuid</i> in request url.</p>
      parameters:
      - name: subscriptionGuid
        in: path
        description: Event Subscription Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the event unsubscribed successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventUnsubscribeResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent subscription not found, Event subscription can not be Unsubscribed for auto subscribed\
            \ event \r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event/subscription:
    get:
      tags:
      - Event
      summary: Get subscribed event list
      description: "<p>This API endpoint provides you the list of subscribed events for your company.</p>\r\n<p>You can also\
        \ add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these\
        \ filter parameters in a query string. The <i>eventGuid</i> parameter is used to get the list of subscriptions for\
        \ the given event guid.</p>"
      parameters:
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: Sort By, Eg. name asc, name desc, name etc.
        schema:
          type: string
      - name: eventguid
        in: query
        description: Get by eventGuid
        schema:
          type: string
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that the event subscription list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventSubscribedListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/event-topics:
    get:
      tags:
      - Event
      summary: Get event topic list
      description: "<p>This API endpoint gives you the list of available event topics. These event topics bifurcate the event\
        \ subscriptions in different groups like Device, User, Firmware, Telemetry.</p>\r\n<p>You can also add the filters\
        \ as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters\
        \ in a query string.</p>"
      parameters:
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: Sort By, Eg. name asc, name desc, name etc.
        schema:
          type: string
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that the event topic list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TopicListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event:
    get:
      tags:
      - Event
      summary: Get predefined event list
      description: "<p>This API endpoint provides you the list of predefined event subscriptions. Using these details, company\
        \ users can subscribe to these events later.</p>\r\n<p>You can also add the filters as given in the parameters. Though\
        \ the filters are optional, to apply them, you need to send these filter parameters in a query string. <i>eventTopicGuid</i>\
        \ parameter is used to get the list of event subscriptions for a given event topic group.</p>"
      parameters:
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: Sort By, Eg. name asc, name desc, name etc.
        schema:
          type: string
      - name: eventTopicGuid
        in: query
        description: Get by event topic guid
        schema:
          type: string
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that the predefined event topic list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent topic guid not exists and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event/{eventid}:
    get:
      tags:
      - Event
      summary: Get single predefined event detail
      description: <p>This API endpoint gives you a detailed description of the predefined event subscription. For that, you
        need to send <i>eventId</i> in request url.</p>
      parameters:
      - name: eventid
        in: path
        description: Event Id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that the predefined event detail received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventByIdResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/severity-level/lookup:
    get:
      tags:
      - Event
      summary: Get severity level lookup list
      description: <p>Users can define severity levels from critical, major, minor, information, or warning based on the need
        for their use case. This API endpoint helps you to get the lookup list of severity levels.</p>
      responses:
        '200':
          description: Indicates that the severity level lookup list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventLookupResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event/{eventId}/delivery-method:
    get:
      tags:
      - Event
      summary: Get delivery method list
      description: <p>This API endpoint gives you the list of delivery methods for the event. For that, you need to send the
        event’s <i>eventId</i> in request url.</p>
      parameters:
      - name: eventId
        in: path
        description: Event Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the event's delivery method detail received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventDeliveryMethodDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/event-template:
    post:
      tags:
      - Event
      summary: Add event template
      description: "<p>To notify users, one needs predefined notification templates for email, SMS, or push.</p>\r\n<p>This\
        \ API endpoint allows you to create event notification templates.</p>\r\n<p>Here, <i>eventID</i> is a unique event\
        \ id. The <i>deliveryMethod</i> defines how you would like to notify a user, either by email, SMS, or push.</p>"
      responses:
        '200':
          description: Indicates that the event template created successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventTemplateCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent not found, event is not subscribed, delivery method not active, delivery method not\
            \ found, event template already exists \r\ndelivery method not subscribed and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        $ref: '#/components/requestBodies/EventTemplateCreateRequest'
  /api/v1.1/event-template/{eventTemplateGuid}:
    put:
      tags:
      - Event
      summary: Update event template
      description: <p>This API endpoint allows you to update event notification template details. For that, you need to send
        <i>eventTemplateGuid</i> in request url and updated event template details in the request body.</p>
      parameters:
      - name: eventTemplateGuid
        in: path
        description: Update Event Template
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventTemplateUpdateRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that the event template updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventTemplateUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent template not exists and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    delete:
      tags:
      - Event
      summary: Delete event template
      description: <p>This API endpoint allows you to delete the event notification template. For that, you need to send <i>eventTemplateGuid</i>
        in request url.</p>
      parameters:
      - name: eventTemplateGuid
        in: path
        description: Event Template Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the event template deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventTemplateResetResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent template not exists, default event template can not be deleted and invalid logged user\
            \ or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/event-template/{eventId}/{deliveryMethod}:
    get:
      tags:
      - Event
      summary: Get event template by eventId and deliveryMethod
      description: <p>This API endpoint gives you the event notification template details. For that, you need to send the
        <i>eventId</i> and delivery method in request url.</p>
      parameters:
      - name: eventId
        in: path
        description: Event Id
        required: true
        schema:
          type: integer
          format: int32
      - name: deliveryMethod
        in: path
        description: 'Delivery Method. Eg: sms, Email etc'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the event template detail received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventTemplateDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ndelivery method not active and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/deliverymethod:
    get:
      tags:
      - Event
      summary: Get delivery methods
      description: <p>This API endpoint provides you the delivery methods for the given delivery method bytes value in <i>deliveryMethod</i>
        parameter in request url.</p>
      parameters:
      - name: deliveryMethod
        in: query
        description: Bytes
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that the delivery method list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeliveryMethodResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event/user/{userGuid}/register-device:
    post:
      tags:
      - Event
      summary: Register user devices
      description: <p>This API endpoint allows you to register user login devices into a system through which users are logging
        into the system. For that, you need to send <i>userGuid</i> in request url and user device details in the request
        body. Here, devices will be registered for a given user.</p>
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisteredDevicesRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that the user device registered successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegisteredDevicesResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nuser not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    put:
      tags:
      - Event
      summary: Update registered user device
      description: <p>This API endpoint allows you to update registered user login devices. For that, you need to send <i>userGuid</i>
        in request url and updated user device details in the request body.</p>
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisteredDevicesUpdateRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that the user device registered updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegisteredDevicesUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nuser not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event/registered-devices:
    post:
      tags:
      - Event
      summary: Get registered user devices list
      description: <p>This API endpoint provides you the list of registered devices under given users.</p>
      responses:
        '200':
          description: Indicates that the user device registered list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegisteredDevicesListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisteredDevicesListRequest'
        description: Json object
  /api/v1.1/Event/send-email:
    post:
      tags:
      - Event
      summary: Send Email
      description: <p>This API endpoint allows you to send an email to the provided list of emails. For that, you need to
        post email subject, email body and list of recipient email ids in the request body.</p>
      responses:
        '200':
          description: Indicates that the event email sent successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventSendEmailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nuser not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSendEmailRequest'
        description: Json object
  /api/v1.1/Event/notification-hub:
    get:
      tags:
      - Event
      summary: Get notification hub configuration
      description: <p>This API endpoint provide you the notification hub configuration.</p>
      responses:
        '200':
          description: Indicates that the notification hub configuration received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventNotificationHubDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event/subscriptions/{eventSubscriptionGuid}/template:
    post:
      tags:
      - Event
      summary: Add event template
      description: "<p>To notify users, one needs predefined notification templates for email, SMS, or push.</p>\r\n<p>This\
        \ API endpoint allows you to create event notification templates.</p>\r\n<p>Here, <i>eventID</i> is a unique event\
        \ id. The <i>deliveryMethod</i> defines how you would like to notify a user, either by email, SMS, or push.</p>"
      parameters:
      - name: eventSubscriptionGuid
        in: path
        description: eventSubscriptionGuid object
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        $ref: '#/components/requestBodies/EventTemplateCreateRequest'
      responses:
        '200':
          description: Indicates that the event template created successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventTemplateCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nEvent not found, event is not subscribed, delivery method not active, delivery method not\
            \ found, event template already exists \r\ndelivery method not subscribed and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event/subscriptions/{eventSubscriptionGuid}/template/eventId/{eventId}/delivery-method/{deliveryMethod}:
    get:
      tags:
      - Event
      summary: Get event template by eventId and deliveryMethod
      description: <p>This API endpoint gives you the event notification template details. For that, you need to send the
        <i>eventId</i> and delivery method in request url.</p>
      parameters:
      - name: eventSubscriptionGuid
        in: path
        description: eventSubscriptionGuid guid
        required: true
        schema:
          type: string
          format: uuid
      - name: eventId
        in: path
        description: eventId
        required: true
        schema:
          type: integer
          format: int32
      - name: deliveryMethod
        in: path
        description: 'Delivery Method. Eg: sms, Email etc'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the event template detail received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventTemplateDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ndelivery method not active and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v1.1/Event/webhook/test:
    post:
      tags:
      - Event
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventSubscriptionCreateResponse'
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebHookConfigWithData'
security:
- Bearer: []
tags:
- name: Event
  description: Event Api List
components:
  requestBodies:
    EventTemplateCreateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EventTemplateCreateRequest'
      description: Json object
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
  schemas:
    CommandData:
      type: object
      properties:
        guid:
          type: string
          description: Command Guid
          nullable: true
        text:
          type: string
          description: Command Text
          nullable: true
      additionalProperties: false
    DeliveryMethod:
      type: object
      properties:
        guid:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        bitValue:
          type: integer
          format: int32
      additionalProperties: false
    DeliveryMethodResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    ErrorModel:
      type: object
      properties:
        param:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    ErrorsResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        error:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          nullable: true
      additionalProperties: false
    EventById:
      type: object
      properties:
        autoSubscribed:
          type: boolean
        deliveryMethod:
          type: integer
          format: int32
        eventId:
          type: integer
          format: int32
        eventTopicGuid:
          type: string
          nullable: true
          readOnly: true
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        placeHolder:
          type: string
          nullable: true
      additionalProperties: false
    EventByIdResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventById'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventDeliveryMethodDetail:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        bitValue:
          type: integer
          format: int32
        isPrivate:
          type: boolean
        enableHtml:
          type: boolean
        templateLen:
          type: integer
          format: int32
        audienceRequired:
          type: boolean
      additionalProperties: false
    EventDeliveryMethodDetailResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventDeliveryMethodDetail'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventList:
      type: object
      properties:
        autoSubscribed:
          type: boolean
        deliveryMethod:
          type: integer
          format: int32
        eventId:
          type: integer
          format: int32
        eventTopicGuid:
          type: string
          nullable: true
          readOnly: true
        guid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        placeHolder:
          type: string
          nullable: true
        severityLevel:
          type: string
          nullable: true
        subscriptionCount:
          type: integer
          format: int32
      additionalProperties: false
    EventListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventLookup:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        SeverityLevel:
          type: string
          nullable: true
      additionalProperties: false
    EventLookupResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventLookup'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventNotificationHubDetail:
      type: object
      properties:
        connectionString:
          type: string
          nullable: true
        hubName:
          type: string
          nullable: true
        cpId:
          type: string
          nullable: true
      additionalProperties: false
    EventNotificationHubDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EventNotificationHubDetail'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventSendEmailRequest:
      required:
      - emailMessage
      - subject
      - to
      type: object
      properties:
        to:
          minLength: 1
          type: string
          description: Recipient email id. For multiple recipients send comma(,) separated list.
        emailMessage:
          minLength: 1
          type: string
          description: Email Body
        subject:
          minLength: 1
          type: string
          description: Email Subject
      additionalProperties: false
    EventSendEmailResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventSubscribedList:
      type: object
      properties:
        eventGuid:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
        eventSubscriptionGuid:
          type: string
          nullable: true
          readOnly: true
        autoSubscribed:
          type: boolean
        deliveryMethod:
          type: integer
          format: int32
        eventSubscriptionDeliveryMethod:
          type: integer
          format: int32
        eventSubscriptionDeliveryMethodData:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryMethod'
          nullable: true
        eventTopicGuid:
          type: string
          nullable: true
          readOnly: true
        severityLevelGuid:
          type: string
          nullable: true
          readOnly: true
        eventTopicName:
          type: string
          nullable: true
        dataRef:
          type: object
          nullable: true
        row_num:
          type: integer
          format: int32
      additionalProperties: false
    EventSubscribedListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventSubscribedList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventSubscriptionCreateRequest:
      required:
      - deliveryMethod
      - severityLevelGuid
      type: object
      properties:
        eventGuid:
          type: string
          description: "Event Guid, \r\nNote : EventGuid or EventName is required"
          nullable: true
        eventName:
          maxLength: 100
          type: string
          description: "Event Name,\r\nNote : EventGuid or EventName is required"
          nullable: true
        deliveryMethod:
          type: array
          items:
            type: string
          description: 'Delivery Method Eg: MQTT, UI Alert, Push, SignalR, DeviceCommand, WebHook, Email etc.'
        refData:
          $ref: '#/components/schemas/RefData'
        severityLevelGuid:
          minLength: 1
          type: string
          description: Severity Level Guid
        refGuid:
          type: string
          description: 'Ref guid, Eg: RuleGuid'
          nullable: true
      additionalProperties: false
    EventSubscriptionCreateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventSubscriptionDetail:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        eventGuid:
          type: string
          nullable: true
          readOnly: true
        deliveryMethod:
          type: integer
          format: int32
        deliveryMethodData:
          type: object
          nullable: true
        companyGuid:
          type: string
          nullable: true
          readOnly: true
        solutionGuid:
          type: string
          nullable: true
          readOnly: true
        refGuid:
          type: string
          nullable: true
          readOnly: true
        dataXml:
          type: object
          nullable: true
        severityLevelGuid:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    EventSubscriptionDetailResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventSubscriptionDetail'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventSubscriptionUpdateRequest:
      required:
      - deliveryMethod
      - severityLevelGuid
      type: object
      properties:
        deliveryMethod:
          type: array
          items:
            type: string
          description: 'Delivery Method Eg: MQTT, UI Alert, Push, SignalR, DeviceCommand, WebHook, Email etc.'
        refData:
          $ref: '#/components/schemas/RefData'
        severityLevelGuid:
          minLength: 1
          type: string
          description: Severity Level Guid
        refGuid:
          type: string
          description: 'Ref guid, Eg: RuleGuid'
          nullable: true
      additionalProperties: false
    EventSubscriptionUpdateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventTemplateCreateRequest:
      required:
      - deliveryMethod
      - eventId
      - template
      type: object
      properties:
        eventId:
          type: integer
          description: Event Id
          format: int32
        eventSubscriptionGuid:
          type: string
          format: uuid
          nullable: true
        deliveryMethod:
          minLength: 1
          type: string
          description: 'Delivery Method Eg: MQTT, UI Alert, Push, SignalR, DeviceCommand, WebHook, Email etc.'
        template:
          $ref: '#/components/schemas/Templatedata'
      additionalProperties: false
    EventTemplateCreateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventTemplateDetail:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        companyGuid:
          type: string
          nullable: true
          readOnly: true
        template:
          type: string
          nullable: true
        deliveryMethod:
          type: integer
          format: int32
        eventId:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
          nullable: true
        createdBy:
          type: string
          nullable: true
          readOnly: true
        updatedDate:
          type: string
          format: date-time
          nullable: true
        updatedBy:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    EventTemplateDetailResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventTemplateDetail'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventTemplateResetResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventTemplateUpdateRequest:
      required:
      - template
      type: object
      properties:
        template:
          $ref: '#/components/schemas/Templatedata'
      additionalProperties: false
    EventTemplateUpdateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    EventUnsubscribeResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    NoContentResult:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
      additionalProperties: false
    RefData:
      type: object
      properties:
        userguids:
          type: array
          items:
            type: string
          description: User guid list for event audience
          nullable: true
        roleguids:
          type: array
          items:
            type: string
          description: Role guid list for event audience
          nullable: true
        command:
          $ref: '#/components/schemas/CommandData'
        webhook:
          $ref: '#/components/schemas/WebHookConfig'
        templateGuids:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    RegisteredDevicesList:
      type: object
      properties:
        companyGuid:
          type: string
          nullable: true
          readOnly: true
        deviceToken:
          type: string
          nullable: true
        guid:
          type: string
          nullable: true
          readOnly: true
        osName:
          type: string
          nullable: true
        osVersion:
          type: string
          nullable: true
        registrationId:
          type: string
          nullable: true
        userGuid:
          type: string
          nullable: true
          readOnly: true
        uuid:
          type: string
          nullable: true
      additionalProperties: false
    RegisteredDevicesListRequest:
      required:
      - userguids
      type: object
      properties:
        userguids:
          type: array
          items:
            $ref: '#/components/schemas/Userguid'
          description: User Guid List
      additionalProperties: false
    RegisteredDevicesListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RegisteredDevicesList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    RegisteredDevicesRequest:
      required:
      - osName
      - osVersion
      - uuid
      type: object
      properties:
        osName:
          maxLength: 50
          minLength: 1
          type: string
        osVersion:
          maxLength: 100
          minLength: 1
          type: string
        uuid:
          minLength: 1
          type: string
        deviceToken:
          maxLength: 100
          type: string
          nullable: true
      additionalProperties: false
    RegisteredDevicesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    RegisteredDevicesUpdateRequest:
      required:
      - deviceToken
      - osName
      - osVersion
      - uuid
      type: object
      properties:
        osName:
          maxLength: 50
          minLength: 1
          type: string
        osVersion:
          maxLength: 100
          minLength: 1
          type: string
        uuid:
          minLength: 1
          type: string
        deviceToken:
          maxLength: 100
          minLength: 1
          type: string
      additionalProperties: false
    RegisteredDevicesUpdateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    Templatedata:
      type: object
      properties:
        subject:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    TopicList:
      type: object
      properties:
        guid:
          type: string
          nullable: true
          readOnly: true
        topicId:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
      additionalProperties: false
    TopicListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TopicList'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    Userguid:
      type: object
      properties:
        userguid:
          type: string
          nullable: true
      additionalProperties: false
    WebHookConfig:
      type: object
      properties:
        url:
          type: string
          description: Webhook url.
          nullable: true
        headers:
          type: array
          items:
            $ref: '#/components/schemas/WebHookHeader'
          description: Webhook headers.
          nullable: true
      additionalProperties: false
    WebHookConfigWithData:
      type: object
      properties:
        data:
          type: string
          description: Webhook test data.
          nullable: true
        url:
          type: string
          description: Webhook url.
          nullable: true
        headers:
          type: array
          items:
            $ref: '#/components/schemas/WebHookHeader'
          description: Webhook headers.
          nullable: true
      additionalProperties: false
    WebHookHeader:
      type: object
      properties:
        key:
          type: string
          description: Webhook header key.
          nullable: true
        value:
          type: string
          description: Webhook header value.
          nullable: true
      additionalProperties: false
