openapi: 3.2.0
info:
  title: Avnet Device Update API
  version: '2.0'
  x-refined-note:
  - x-conversion differs across the merged source definitions and was not carried
  - x-harvested differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-ownership differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged DeviceUpdate across 2 of this provider''s published API definitions: avnet-iotconnect-device-azure-prod-swagger.json, avnet-iotconnect-device-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://device.iotconnect.io
  description: /IOTCONNECT production (Azure platform) — the host the docs page resolves for env=prod&pf=az; paths carry the /api/v2 prefix
security:
- Bearer: []
tags:
- name: DeviceUpdate
  description: Device update API List
paths:
  /api/v2/device-updates/devices/lookup:
    get:
      tags:
      - DeviceUpdate
      summary: Get device lookup
      description: This API endpoint provides you the lookup of all available devices in your company.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the device lookup received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceUpdatesDeviceLookupResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
      operationId: getApiV2DeviceUpdatesDevicesLookup
      x-operation-id-source: derived
  /api/v2/device-updates/devices:
    get:
      tags:
      - DeviceUpdate
      summary: Get devices which has tag assigned
      description: This API endpoint provides you the list of all devices in your company.
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        schema:
          type: string
      - name: sortBy
        in: query
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the device list received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceUpdatesDeviceListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
      operationId: getApiV2DeviceUpdatesDevices
      x-operation-id-source: derived
  /api/v2/device-updates:
    get:
      tags:
      - DeviceUpdate
      summary: Get device updates list
      description: This API endpoint provides you the list of device updates.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the device updates list received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceUpdatesListReponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
      operationId: getApiV2DeviceUpdates
      x-operation-id-source: derived
  /api/v2/device-updates/tags:
    post:
      tags:
      - DeviceUpdate
      summary: Add Device Tag
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceBulkTagAssignResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceBulkTagAssignRequest'
      operationId: postApiV2DeviceUpdatesTags
      x-operation-id-source: derived
  /api/v2/device-updates/import-update:
    post:
      tags:
      - DeviceUpdate
      summary: Import Device Update
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportUpdateResponse'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                Manifest:
                  type: string
                  format: binary
                Firmwares:
                  type: array
      operationId: postApiV2DeviceUpdatesImportUpdate
      x-operation-id-source: derived
  /api/v2/device-updates/import-history:
    get:
      tags:
      - DeviceUpdate
      summary: Get import history
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportHistoryResponse'
      operationId: getApiV2DeviceUpdatesImportHistory
      x-operation-id-source: derived
components:
  schemas:
    ImportHistoryResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImportHistory'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    DeviceUpdatesDeviceLookupResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DeviceUpdatesDeviceLookup'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    DeviceBulkTagAssignResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    ErrorModel:
      type: object
      properties:
        param:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    DeviceUpdatesList:
      type: object
      properties:
        provider:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        version:
          type:
          - string
          - 'null'
        deployments:
          type: integer
          format: int32
      additionalProperties: false
    DeviceUpdatesDeviceLookup:
      type: object
      properties:
        guid:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueId:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        templateName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ImportUpdateResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    DeviceUpdate:
      type: object
      properties:
        provider:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        version:
          type:
          - string
          - 'null'
      additionalProperties: false
    ImportHistory:
      type: object
      properties:
        deviceupdate:
          $ref: '#/components/schemas/DeviceUpdate'
        submittedDate:
          type: string
          format: date-time
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    DeviceUpdatesDeviceListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DeviceUpdatesDeviceList'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    DeviceBulkTagAssignRequest:
      type: object
      properties:
        tag:
          type:
          - string
          - 'null'
        uniqueIds:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    DeviceUpdatesDeviceList:
      type: object
      properties:
        guid:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueId:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        aduGroup:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        deviceTemplateName:
          type:
          - string
          - 'null'
        entityName:
          type:
          - string
          - 'null'
        deviceStatus:
          type:
          - string
          - 'null'
      additionalProperties: false
    ErrorsResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        error:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorModel'
      additionalProperties: false
    DeviceUpdatesListReponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DeviceUpdatesList'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
x-refined-from:
- avnet-iotconnect-device-azure-prod-swagger.json
- avnet-iotconnect-device-openapi.yml
