openapi: 3.2.0
info:
  title: Avnet Setting API
  x-refined-note:
  - x-conversion differs across the merged source definitions and was not carried
  - x-harvested differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-ownership differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Setting across 3 of this provider''s published API definitions: avnet-iotconnect-device-aws-prod-swagger.json, avnet-iotconnect-device-azure-prod-swagger.json, avnet-iotconnect-device-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://device.iotconnect.io
  description: /IOTCONNECT production (Azure platform) — the host the docs page resolves for env=prod&pf=az; paths carry the /api/v2 prefix
security:
- Bearer: []
tags:
- name: Setting
  description: Setting Api List
paths:
  /api/v2.1/template-setting:
    post:
      tags:
      - Setting
      summary: Add new shadow
      description: 'Device shadows are used to synchronize state information between a device and an IoT hub. Device shadow is a JSON document, associated with a specific device, and stored by IoT Hub in the cloud where you can query them. Device shadow contains desired properties, reported properties, and tags. The desired property is set by a back-end application and read by a device. The reported property is set by a device and read by a back-end application. The tag is set by a back-end application and is never sent to a device. Tags are used to organize devices.


        You can add new shadow using this API. These properties will be defined in your device template and will be part of your device template. A single template can have one or more shadow properties.


        Here name, localName, defaultValue and datatype are mandatory for any shadow property. Data validation allows you to set data range or specific data for shadow values.'
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the shadow created successfully and returns created shadow guid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingCreateResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device template doesn''t exist, invalid data type, twin property key already exists and invalid logged user or company.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingCreateRequest'
        description: Json object
      operationId: postApiV21TemplateSetting
      x-operation-id-source: derived
  /api/v2.1/template-setting/{settingGuid}:
    put:
      tags:
      - Setting
      summary: Update a twin property
      description: This API endpoint allows you to update a twin property. For that, you need to send settingGuid in request url along with the twin property update details in the request body.
      parameters:
      - name: settingGuid
        in: path
        description: Twin Property Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingUpdateResponse'
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts on the server.\nThe device template doesn't exist, twin property doesn't exist, invalid data type, \ntwin property key already exists and invalid logged user or company."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingUpdateRequest'
        description: Json object
      operationId: putApiV21TemplateSettingBySettingGuid
      x-operation-id-source: derived
    delete:
      tags:
      - Setting
      summary: Delete a shadow
      description: You can delete a shadow using this API endpoint. For that, you need to send settingGuid in request url.
      parameters:
      - name: settingGuid
        in: path
        description: shadow Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the shadow updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingDeleteResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The twin property doesn''t exist and invalid logged user or company.'
      operationId: deleteApiV21TemplateSettingBySettingGuid
      x-operation-id-source: derived
  /api/v2.1/template-setting/{deviceTemplateGuid}:
    get:
      tags:
      - Setting
      summary: Get device template twin properties list
      description: 'This API endpoint gives you the list of available twin properties in your device template. For that, you need to send deviceTemplateGuid in request url.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: Sort by name and order. Eg. name, name asc, name desc etc.
        schema:
          type: string
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property list received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingListResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device template doesn''t exist and invalid logged user or company.'
      operationId: getApiV21TemplateSettingByDeviceTemplateGuid
      x-operation-id-source: derived
  /api/v2.1/template-setting/{deviceTemplateGuid}/lookup:
    get:
      tags:
      - Setting
      summary: Get device template twin properties lookup
      description: This API endpoint gives you the lookup list of available twin properties in your device template. For that, you need to send deviceTemplateGuid in request url.
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: hasDataValidation
        in: query
        description: If true. returns that setting which have data validation.
        schema:
          type: boolean
      - name: isReadOnly
        in: query
        description: Get twins readonly setting data.
        schema:
          type: boolean
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property lookup received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingLookupResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device template doesn''t exist and invalid logged user or company.'
      operationId: getApiV21TemplateSettingByDeviceTemplateGuidLookup
      x-operation-id-source: derived
  /api/v2.1/device/{deviceGuid}/template-setting:
    get:
      tags:
      - Setting
      summary: Get device twin properties list
      description: 'This API endpoint provides you the list of available twin properties of a device. For that, you need to send deviceGuid in request url.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: deviceGuid
        in: path
        description: Device Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: Sort by name and order, Eg. name, name asc, name desc etc.
        schema:
          type: string
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property lookup received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingListResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device doesn''t exist and invalid logged user or company.'
      operationId: getApiV21DeviceByDeviceGuidTemplateSetting
      x-operation-id-source: derived
  /api/v2.1/template-setting/readOnly/{settingGuid}:
    put:
      tags:
      - Setting
      summary: Update a readOnly property
      description: This API endpoint allows you to update a twin property. For that, you need to send settingGuid in request url along with the twin property update details in the request body.
      parameters:
      - name: settingGuid
        in: path
        description: Twin Property Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSettingUpdateReadOnlyResponse'
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts on the server.\nThe device template doesn't exist, twin property doesn't exist, invalid data type, \ntwin property key already exists and invalid logged user or company."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateSettingUpdateReadOnlyRequest'
        description: Json object
      operationId: putApiV21TemplateSettingReadOnlyBySettingGuid
      x-operation-id-source: derived
  /api/v2.1/template-setting/{deviceTemplateGuid}/devices/lookup:
    get:
      tags:
      - Setting
      summary: Get top 10 devices by template/solutiontemplate
      description: This API endpoint gives you the top 10 list of available device twin. for that, you need to send deviceTemplateGuid in request url.
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the top 10 devicetwin property list loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceLookupByTemplateResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device template doesn''t exist and invalid logged user or company.'
      operationId: getApiV21TemplateSettingByDeviceTemplateGuidDevicesLookup
      x-operation-id-source: derived
  /api/v2.1/device/{deviceGuid}/template-setting/history:
    get:
      tags:
      - Setting
      summary: Get device shadow history
      description: Get a shadow history of any device using this API. For that, you need to send device guid in request url of which you want to get the shadow history.
      parameters:
      - name: deviceGuid
        in: path
        description: Device Guid
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        schema:
          type: string
      - name: toDate
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the device shadow history received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTemplateSettingHistoryResponse'
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts on the server.\n            The device doesn't exist and invalid logged user or company."
      operationId: getApiV21DeviceByDeviceGuidTemplateSettingHistory
      x-operation-id-source: derived
  /api/v2/template-setting:
    post:
      tags:
      - Setting
      summary: Add new twin property
      description: 'Device twins are used to synchronize state information between a device and an IoT hub. Device twin is a JSON document, associated with a specific device, and stored by IoT Hub in the cloud where you can query them. Device twin contains desired properties, reported properties, and tags. The desired property is set by a back-end application and read by a device. The reported property is set by a device and read by a back-end application. The tag is set by a back-end application and is never sent to a device. Tags are used to organize devices.


        You can add new twin properties using this API. These properties will be defined in your device template and will be part of your device template. A single template can have one or more twin properties.


        Here name, localName, defaultValue and datatype are mandatory for any twin property. Data validation allows you to set data range or specific data for twin property values.'
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property created successfully and returns created twin property guid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingCreateResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device template doesn''t exist, invalid data type, twin property key already exists and invalid logged user or company.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingCreateRequest_2'
        description: Json object
      operationId: postApiV2TemplateSetting
      x-operation-id-source: derived
  /api/v2/template-setting/{settingGuid}:
    delete:
      tags:
      - Setting
      summary: Delete a twin property
      description: You can delete a twin property using this API endpoint. For that, you need to send settingGuid in request url.
      parameters:
      - name: settingGuid
        in: path
        description: Twin Property Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingDeleteResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The twin property doesn''t exist and invalid logged user or company.'
      operationId: deleteApiV2TemplateSettingBySettingGuid
      x-operation-id-source: derived
  /api/v2/template-setting/{deviceTemplateGuid}:
    get:
      tags:
      - Setting
      summary: Get device template twin properties list
      description: 'This API endpoint gives you the list of available twin properties in your device template. For that, you need to send deviceTemplateGuid in request url.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: Sort by name and order. Eg. name, name asc, name desc etc.
        schema:
          type: string
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property list received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingListResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device template doesn''t exist and invalid logged user or company.'
      operationId: getApiV2TemplateSettingByDeviceTemplateGuid
      x-operation-id-source: derived
  /api/v2/template-setting/{deviceTemplateGuid}/lookup:
    get:
      tags:
      - Setting
      summary: Get device template twin properties lookup
      description: This API endpoint gives you the lookup list of available twin properties in your device template. For that, you need to send deviceTemplateGuid in request url.
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: hasDataValidation
        in: query
        description: If true. returns that setting which have data validation.
        schema:
          type: boolean
      - name: isReadOnly
        in: query
        description: Get twins readonly setting data.
        schema:
          type: boolean
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property lookup received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingLookupResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device template doesn''t exist and invalid logged user or company.'
      operationId: getApiV2TemplateSettingByDeviceTemplateGuidLookup
      x-operation-id-source: derived
  /api/v2/device/{deviceGuid}/template-setting:
    get:
      tags:
      - Setting
      summary: Get device twin properties list
      description: 'This API endpoint provides you the list of available twin properties of a device. For that, you need to send deviceGuid in request url.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: deviceGuid
        in: path
        description: Device Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: Sort by name and order, Eg. name, name asc, name desc etc.
        schema:
          type: string
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property lookup received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingListResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device doesn''t exist and invalid logged user or company.'
      operationId: getApiV2DeviceByDeviceGuidTemplateSetting
      x-operation-id-source: derived
  /api/v2/template-setting/readOnly/{settingGuid}:
    put:
      tags:
      - Setting
      summary: Update a readOnly property
      description: This API endpoint allows you to update a twin property. For that, you need to send settingGuid in request url along with the twin property update details in the request body.
      parameters:
      - name: settingGuid
        in: path
        description: Twin Property Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the twin property updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSettingUpdateReadOnlyResponse'
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts on the server.\nThe device template doesn't exist, twin property doesn't exist, invalid data type, \ntwin property key already exists and invalid logged user or company."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateSettingUpdateReadOnlyRequest'
        description: Json object
      operationId: putApiV2TemplateSettingReadOnlyBySettingGuid
      x-operation-id-source: derived
  /api/v2/template-setting/{deviceTemplateGuid}/devices/lookup:
    get:
      tags:
      - Setting
      summary: Get top 10 devices by template/solutiontemplate
      description: This API endpoint gives you the top 10 list of available device twin. for that, you need to send deviceTemplateGuid in request url.
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the top 10 devicetwin property list loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceLookupByTemplateResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server.

            The device template doesn''t exist and invalid logged user or company.'
      operationId: getApiV2TemplateSettingByDeviceTemplateGuidDevicesLookup
      x-operation-id-source: derived
components:
  schemas:
    DeviceTwinHistoryList:
      type: object
      properties:
        guid:
          type: string
          format: uuid
        companyGuid:
          type: string
          format: uuid
        templateSettingGuid:
          type: string
          format: uuid
        deviceGuid:
          type: string
          format: uuid
        createdDate:
          type: string
          format: date-time
        localName:
          type:
          - string
          - 'null'
        desiredValue:
          type:
          - string
          - 'null'
        desiredUpdatedDate:
          type: string
          format: date-time
        reportedValue:
          type:
          - string
          - 'null'
        reportedUpdatedDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    SettingDelete:
      type: object
      properties:
        deviceTemplateGuid:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    ErrorModel:
      type: object
      properties:
        param:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    SettingList:
      type: object
      properties:
        guid:
          type:
          - string
          - 'null'
          readOnly: true
        name:
          type:
          - string
          - 'null'
        dataTypeGuid:
          type:
          - string
          - 'null'
          readOnly: true
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        createdby:
          type:
          - string
          - 'null'
          readOnly: true
        updatedDate:
          type:
          - string
          - 'null'
          format: date-time
        localName:
          type:
          - string
          - 'null'
        defaultValue:
          type:
          - object
          - 'null'
        dataValidation:
          type:
          - string
          - 'null'
        tag:
          type:
          - string
          - 'null'
        isReadOnly:
          type: boolean
        dataType:
          type:
          - string
          - 'null'
        messageVersion:
          type:
          - string
          - 'null'
      additionalProperties: false
    TemplateSettingUpdateReadOnlyRequest:
      required:
      - deviceTemplateGuid
      type: object
      properties:
        deviceTemplateGuid:
          minLength: 1
          type: string
          description: Associated Device Template Guid
        isReadOnly:
          type: boolean
      additionalProperties: false
    SettingCreate:
      type: object
      properties:
        newid:
          type:
          - string
          - 'null'
      additionalProperties: false
    TemplateSettingUpdateReadOnlyResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    SettingLookup:
      type: object
      properties:
        guid:
          type:
          - string
          - 'null'
          readOnly: true
        name:
          type:
          - string
          - 'null'
        localName:
          type:
          - string
          - 'null'
        defaultValue:
          type:
          - string
          - 'null'
        dataTypeName:
          type:
          - string
          - 'null'
        dataValidation:
          type:
          - string
          - 'null'
        isReadOnly:
          type: boolean
      additionalProperties: false
    SettingCreateResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SettingCreate'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    ErrorsResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        error:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorModel'
      additionalProperties: false
    SettingLookupResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SettingLookup'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    SettingDeleteResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SettingDelete'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    DeviceLookupByTemplate:
      type: object
      properties:
        reportedValue:
          type:
          - string
          - 'null'
        desiredValue:
          type:
          - string
          - 'null'
        desiredUpdatedDate:
          type: string
          format: date-time
        reportedUpdatedDate:
          type: string
          format: date-time
        uniqueId:
          type:
          - string
          - 'null'
        localName:
          type:
          - string
          - 'null'
      additionalProperties: false
    DeviceLookupByTemplateResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DeviceLookupByTemplate'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    SettingListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SettingList'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    SettingUpdateResponse:
      type: object
      properties:
        data:
          type:
          - object
          - 'null'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    SettingCreateRequest:
      required:
      - dataTypeGuid
      - defaultValue
      - deviceTemplateGuid
      - localName
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 1
          type: string
          description: Twin property name
        dataTypeGuid:
          minLength: 1
          type: string
          description: 'Twin property''s datatype guid. Note : Object datatype is not allowed for twin property.'
        deviceTemplateGuid:
          minLength: 1
          type: string
          description: Associated Device Template Guid
        localName:
          maxLength: 100
          minLength: 1
          type: string
          description: Twin property key
        defaultValue:
          maxLength: 100
          minLength: 1
          type: string
          description: Default value for twin property
        isReadOnly:
          type: boolean
      additionalProperties: false
    SettingUpdateRequest:
      required:
      - dataTypeGuid
      - defaultValue
      - deviceTemplateGuid
      - localName
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 1
          type: string
          description: Twin property name
        dataTypeGuid:
          minLength: 1
          type: string
          description: 'Twin property''s datatype guid. Note : Object datatype is not allowed for twin property.'
        deviceTemplateGuid:
          minLength: 1
          type: string
          description: Associated Device Template Guid
        localName:
          maxLength: 100
          minLength: 1
          type: string
          description: Twin property key
        defaultValue:
          maxLength: 100
          minLength: 1
          type: string
          description: Default value for twin property
        isReadOnly:
          type: boolean
      additionalProperties: false
    DeviceTemplateSettingHistoryResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DeviceTwinHistoryList'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        count:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    SettingCreateRequest_2:
      required:
      - dataTypeGuid
      - defaultValue
      - deviceTemplateGuid
      - localName
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 1
          type: string
          description: Twin property name
        dataTypeGuid:
          minLength: 1
          type: string
          description: 'Twin property''s datatype guid. Note : Object datatype is not allowed for twin property.'
        deviceTemplateGuid:
          minLength: 1
          type: string
          description: Associated Device Template Guid
        localName:
          maxLength: 100
          minLength: 1
          type: string
          description: Twin property key
        defaultValue:
          maxLength: 100
          minLength: 1
          type: string
          description: Default value for twin property
        dataValidation:
          maxLength: 100
          type:
          - string
          - 'null'
          description: "Data validation for the twin property values. \nType validation values and/or validation ranges separated by commas.<div> For example: </div><div>  1, 2, 10 to 20 </div> -10 to -5, -15 <div> Red, Green, Blue</div>"
        isReadOnly:
          type: boolean
      additionalProperties: false
    SettingList_2:
      type: object
      properties:
        guid:
          type:
          - string
          - 'null'
          readOnly: true
        name:
          type:
          - string
          - 'null'
        dataTypeGuid:
          type:
          - string
          - 'null'
          readOnly: true
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        createdby:
          type:
          - string
          - 'null'
          readOnly: true
        updatedDate:
          type:
          - string
          - 'null'
          format: date-time
        localName:
          type:
          - string
          - 'null'
        defaultValue:
          type:
          - object
          - 'null'
        dataValidation:
          type:
          - string
          - 'null'
        tag:
          type:
          - string
          - 'null'
        isReadOnly:
          type: boolean
        dataTypeName:
          type:
          - string
          - 'null'
      additionalProperties: false
    SettingCreateRequest_3:
      required:
      - dataTypeGuid
      - defaultValue
      - deviceTemplateGuid
      - localName
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 1
          type: string
          description: Twin property name
        dataTypeGuid:
          minLength: 1
          type: string
          description: 'Twin property''s datatype guid. Note : Object datatype is not allowed for twin property.'
        deviceTemplateGuid:
          minLength: 1
          type: string
          description: Associated Device Template Guid
        localName:
          maxLength: 100
          minLength: 1
          type: string
          description: Twin property key
        defaultValue:
          maxLength: 100
          minLength: 1
          type: string
          description: Default value for twin property
        dataValidation:
          maxLength: 100
          type:
          - string
          - 'null'
          description: "Data validation for the twin property values. \nType validation values and/or validation ranges separated by commas.<div> For example: </div><div>  1, 2, 10 to 20 </div> -10 to -5, -15 <div> Red, Green, Blue</div>"
        isReadOnly:
          type: boolean
      additionalProperties: false
    SettingList_3:
      type: object
      properties:
        guid:
          type:
          - string
          - 'null'
          readOnly: true
        name:
          type:
          - string
          - 'null'
        dataTypeGuid:
          type:
          - string
          - 'null'
          readOnly: true
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        createdby:
          type:
          - string
          - 'null'
          readOnly: true
        updatedDate:
          type:
          - string
          - 'null'
          format: date-time
        localName:
          type:
          - string
          - 'null'
        defaultValue:
          type:
          - object
          - 'null'
        dataValidation:
          type:
          - string
          - 'null'
        tag:
          type:
          - string
          - 'null'
        isReadOnly:
          type: boolean
        dataTypeName:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
x-refined-from:
- avnet-iotconnect-device-aws-prod-swagger.json
- avnet-iotconnect-device-azure-prod-swagger.json
- avnet-iotconnect-device-openapi.yml
