openapi: 3.0.0
info:
  title: /IOTCONNECT™ Device API
  description: "Device REST API contains information of Device modules.\n<br /><h2>Headers</h2><p>Needed Headers for all the\
    \ API. \n<br />\n<br /> Authorization &emsp;&nbsp;  &emsp;<b><i style=\"font-style: italic !important;\">Bearer + access_token\
    \ (Generated From api/v1.1/auth/login API)</i></b>\n<br /> Content-Type &emsp;&nbsp;&emsp;<b><i style=\"font-style: italic\
    \ !important;\">application/json</i></b></p>"
  version: '2.0'
  x-source: https://device.iotconnect.io/api/v2/swagger-json
  x-harvested: '2026-09-18'
  x-original: openapi/_original/avnet-iotconnect-device-azure-prod-swagger.json
  x-conversion: Swagger 2.0 -> OpenAPI 3.0.0 via swagger2openapi; operations, parameters, schemas and responses are as published
    — only servers[] and these x- provenance keys were added. No operationIds are published by the provider and none were
    invented.
  x-ownership: IoTConnect is Avnet's own IoT platform (docs.iotconnect.io is titled "Avnet /IOTCONNECT", carries "Copyright
    Avnet, Inc." and links github.com/avnet-iotconnect); the product lives on iotconnect.io rather than avnet.com.
servers:
- url: https://device.iotconnect.io
  description: /IOTCONNECT production (Azure platform) — the host the docs page resolves for env=prod&pf=az; paths carry the
    /api/v2 prefix
paths:
  /api/v2/adu-groups:
    get:
      tags:
      - ADUGroup
      summary: Get ADU Group list
      description: <p>This API endpoint provides you the get list of ADU Groups.</p>
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: Sort by name and order. Eg. name desc, name asc, name.
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the ADU Group list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ADUGroupsListResponse'
        '204':
          description: No Content
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    post:
      tags:
      - ADUGroup
      summary: Create ADU Group.
      description: <p>This API endpoint provides you to create ADU Group.</p>
      responses:
        '200':
          description: Indicates that the ADU Group created successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ADUGroupCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ADUGroupCreateRequest'
  /api/v2/template-attribute:
    post:
      tags:
      - Attribute
      summary: Add new template attribute
      description: "<p>This API endpoint allows you to create device template attributes. Attributes will be defined in your\
        \ device template. One template can have one or more attributes. Your IoT devices will send the data for these template\
        \ attributes.</p>\r\n<p>Here, <i>localName</i> and <i>datatype</i> are mandatory for any attribute, while a tag is\
        \ mandatory for gateway supported templates only. The datatype of your attribute is predefined. If you select object\
        \ datatype, you will be able to add child attributes for that attribute. Data validation allows you to set data numChar\
        \ or specific data for attribute values.</p>\r\n<p>For Edge Enabled device, template must contain at least one attribute\
        \ with datatype 'Number' to send data to Hub.</p>\r\n<p>For Lowbandwidth Enabled device, template attribute must required\
        \ startIndex and numChar.</p>"
      responses:
        '200':
          description: Indicates that the template attribute created successfully and returns created attribute guid.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device template doesn't exist, tag is required if the device template has enabled gateway\
            \ support, attribute name already exists, \r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributeCreateRequest'
        description: Json object
  /api/v2/template-attribute/{attributeGuid}:
    put:
      tags:
      - Attribute
      summary: Update template attribute
      description: <p>This API endpoint allows you to update the details of a device template attribute. For that, you need
        to send <i>attributeGuid</i> in request url and attribute update details in the request body.</p>
      parameters:
      - name: attributeGuid
        in: path
        description: Template Attribute Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributeUpdateRequest'
        description: Attribute update detail json object
      responses:
        '200':
          description: Indicates that the template attribute updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device template doesn't exist, attribute doesn't exist, attribute can not update if datatype\
            \ guid for the object, \r\nattribute name already exists, attribute is associated with the rule, attribute is\
            \ associated with power BI, \r\ntag is required if the device template has enabled gateway support and invalid\
            \ logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    delete:
      tags:
      - Attribute
      summary: Delete a template attribute
      description: <p>This API endpoint allows you to delete a device template attribute. For that, you need to send <i>attributeGuid</i>
        in request url.</p>
      parameters:
      - name: attributeGuid
        in: path
        description: Template Attribute Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the template attribute deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nAn attribute doesn't exist, attribute/tag associated with thr device or a rule or command\
            \ or power BI, at least one attribute required in device template \r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-attribute/{attributeGuid}/sequence:
    put:
      tags:
      - Attribute
      summary: Update template attribute sequence
      description: <p>This API endpoint helps you to update a device template attribute sequence. For that, you need to send
        <i>attributeGuid</i> in request url and sequence number in the request body.</p>
      parameters:
      - name: attributeGuid
        in: path
        description: Template Attribute Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributeUpdateSequenceRequest'
        description: Attribute json object
      responses:
        '200':
          description: Indicates that the template attribute's sequence updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeUpdateSequenceResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device template doesn't exist, attribute doesn't exist and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-attribute/{deviceTemplateGuid}:
    get:
      tags:
      - Attribute
      summary: Get template attribute list
      description: "<p>This API endpoint gives you the list of available template attributes of your device template. For\
        \ that, you need to send <i>deviceTemplateGuid</i> in request url.</p>\r\n<p>You can also add the filters as given\
        \ in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a\
        \ query string.</p>"
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: searchtext
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: Sort by name and order. Eg. sequence, sequence asc, sequence desc etc
        schema:
          type: string
      - name: tag
        in: query
        description: Tag
        schema:
          type: string
      - name: localNameAsDisplayName
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the template attribute list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDevice temmplate doesn't exist and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-attribute/{deviceTemplateGuid}/lookup:
    get:
      tags:
      - Attribute
      summary: Get device template attribute lookup
      description: <p>This API endpoint provides you the lookup list of available template attributes in your device template.
        For that, you need to send <i>deviceTemplateGuid</i> in request url.</p>
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the template attribute lookup received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeLookupResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDevice temmplate doesn't exist and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/sphere-devices/products:
    get:
      tags:
      - AzureSphere
      summary: Get Sphere Product List
      description: <p>This API endpoint gives you the list of sphere products.</p>
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        schema:
          type: string
      - name: Name
        in: query
        schema:
          type: string
      - name: Description
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the product list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    post:
      tags:
      - AzureSphere
      summary: Create sphere product
      description: <p>This API endpoint creates new sphere product.</p>
      responses:
        '200':
          description: Indicates that the product created successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductCreateResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateRequest'
        description: Json object with sphere product details.
  /api/v2/sphere-devices/products/{guid}:
    patch:
      tags:
      - AzureSphere
      summary: Update sphere product
      description: <p>This API endpoint update sphere product.</p>
      parameters:
      - name: guid
        in: path
        description: guid to update sphere product.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateRequest'
        description: Json object with sphere product details.
      responses:
        '200':
          description: Indicates that the product updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductUpdateResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    delete:
      tags:
      - AzureSphere
      summary: Delete sphere product
      description: <p>This API endpoint delete sphere product.</p>
      parameters:
      - name: guid
        in: path
        description: productGuid to delete sphere product.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the product deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDeleteResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    get:
      tags:
      - AzureSphere
      summary: Get Sphere Product Detail
      description: <p>This API endpoint gives you detail of sphere product.</p>
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the product detail loaded successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/sphere-devices/tenants/{tenantId}/permission:
    get:
      tags:
      - AzureSphere
      summary: Check iotconnect tenant has permission to access azure sphere tenant or not.
      description: <p>This API endpoint Check iotconnect tenant has permission to access azure sphere tenant or not.</p>
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the iotconnect tenant has permission or not to access azure sphere tenant.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantPermissionResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/sphere-devices/devices/syncDeviceDetail:
    post:
      tags:
      - AzureSphere
      summary: Sync devicegroup and product from Azure sphere tenant
      description: <p>This API endpoint sync devicegroup and product from Azure sphere tenant.</p>
      responses:
        '200':
          description: Indicates that the device synced successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SyncSphereGroupAndProductResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncSphereGroupAndProductRequest'
        description: Json object with device group id.
  /api/v2/Certificate:
    post:
      tags:
      - Certificate
      summary: Add new certificate
      description: <p>Certificate verifies identity when a device enters in an IoT ecosystem, encrypts in-transit communications
        and protects networks from exploits. Overall, certificates safeguard systems and transmit information privately. Using
        this API endpoint, you can add new certificates to Azure IoT Hub.</p>
      responses:
        '200':
          description: Indicates that certificate uploaded successfully and returns created certificate guid.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CertificateCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nCertificate name already exist, invalid certificate, certificate upload not allowed, an error\
            \ occurred while uploading certificate on azure\r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        $ref: '#/components/requestBodies/postApiV2Certificate'
    get:
      tags:
      - Certificate
      summary: Get device certificates list
      description: <p>Get an entire list of device certificates using this API endpoint. You can also add the filters as given
        in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query
        string.</p>
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: Sort by name and order. Eg. name, name asc, name desc etc
        schema:
          type: string
      - name: name
        in: query
        description: Search with certifiate name
        schema:
          type: string
      - name: status
        in: query
        description: 'Search with certifiate status, Eg: Expired, Verified and Pending'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CertificateListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Certificate/{certificateGuid}:
    put:
      tags:
      - Certificate
      summary: Update certificate detail
      description: <p>If you need to update the certificate name or certificate file, use this API endpoint. For that, you
        need to send <i>certificateGuid</i> in request url and certificate update details in the request body.</p>
      parameters:
      - name: certificateGuid
        in: path
        description: Certificate Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        $ref: '#/components/requestBodies/postApiV2Certificate'
      responses:
        '200':
          description: Indicates that certificate updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CertificateUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nCertificate name already exist, invalid certificate, certificate upload not allowed, the verified\
            \ certificate can not update,\r\nan error occurred while uploading certificate on azure and invalid logged user\
            \ or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    delete:
      tags:
      - Certificate
      summary: Delete a certificate
      description: <p>This API endpoint allows you to delete a device certificate. For that, you need to send <i>certificateGuid</i>
        in request url.</p>
      parameters:
      - name: certificateGuid
        in: path
        description: Certificate Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that certificate deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CertificateDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nCertificate doesn't exist, an error occurred while deleting certificate on azure and invalid\
            \ logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    get:
      tags:
      - Certificate
      summary: Get single certificate detail
      description: <p>This API endpoint provides you the detailed description of single device certificate. For that, you
        need to send <i>certificateGuid</i> in request url.</p>
      parameters:
      - name: certificateGuid
        in: path
        description: Certificate Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that certificate information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CertificateDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nCertificate doesn't exist and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Certificate/{certificateGuid}/verify:
    put:
      tags:
      - Certificate
      summary: Verify certificate
      description: <p>After adding a device certificate, one prefers to verify it. This API endpoint allows you to verify
        the certificate. For that, you need to upload a verification certificate which will validate your device certificate.</p>
      parameters:
      - name: certificateGuid
        in: path
        description: Certificate Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                Etag:
                  description: Certificate Etag
                  type: string
                certificateFile:
                  description: "Verification certificate file.\r\n            Only .per and .cer file allowed."
                  type: string
                  format: binary
              required:
              - Etag
              - certificateFile
        required: true
      responses:
        '200':
          description: Indicates that certificate verified successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CertificateVerifyResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nCertificate name already exist, invalid certificate, certificate upload not allowed, the verified\
            \ certificate can not update,\r\nan error occurred while verifying certificate on azure and invalid logged user\
            \ or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/certificate/lookup/{authType}:
    get:
      tags:
      - Certificate
      summary: Get certificates lookup
      description: <p>This API endpoint provides you the lookup list of available device certificates for the given certificate
        auth type.</p>
      parameters:
      - name: authType
        in: path
        description: To get certificate lookup by auth type
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that certificate information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CertificateLookupResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/device/{deviceId}/self-signed-certificate:
    get:
      tags:
      - Certificate
      summary: Get self signed certificate for your device
      description: <p>This API endpoint provides you certificate for communication with you self signed device. For that,
        you need to send <i>deviceId (Eg.[CpId]-[uniqudId])</i> in request url.</p>
      parameters:
      - name: deviceId
        in: path
        description: deviceId (Eg.[CpId]-[UniqueId])
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that certificate files received successfully.
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nAn error occurred while generating self signed certificate and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/certificate/count:
    get:
      tags:
      - Certificate
      summary: Get certificates count
      description: <p>This API endpoint provides you the certificate with its count.</p>
      parameters:
      - name: authType
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that certificate count received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AuthTypeCertificateCountResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/device/{uniqueId}/platform/{platformType}/certificate-bundle:
    get:
      tags:
      - Certificate
      summary: Get certificate for your device according to platformType
      description: <p>This API endpoint provides you certificate for your device according to platformType. For that, you
        need to send <i>uniqueId</i> in request url.</p>
      parameters:
      - name: uniqueId
        in: path
        description: uniqueId
        required: true
        schema:
          type: string
      - name: platformType
        in: path
        description: "Platform type should be one of below items\r\n<ul><li>1. IoTConnect</li><li>2. iOS</li><li>3. Android</li></ul>"
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that certificate files received successfully.
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nAn error occurred while generating self signed certificate and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/CloudTemplate/device:
    post:
      tags:
      - CloudTemplate
      summary: Add new device
      description: "<p>IoT device is a smart device that supports internet connectivity. Through connectivity, established\
        \ using IoT communication protocols, these devices can interact with other devices. Not only that, it grants remote\
        \ access to a user for managing the device as per their needs. These devices can be anything from consumer devices,\
        \ wearables, home appliances, industrial monitoring systems to security systems.</p>\r\n<p>Add any quantity and a\
        \ variety of devices using this API endpoint for easy integration with IoTConnect. </p>"
      responses:
        '200':
          description: Indicates that the device is created successfully and returns created device guid.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CloudTemplateDeviceCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: Indicates that the request could not be carried out because of one of the below or other conflicts
            on the server.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudTemplateDeviceCreateRequest'
        description: Json object with device details.
  /api/v2/CloudTemplate/{deviceGuid}:
    put:
      tags:
      - CloudTemplate
      summary: Update a device
      description: <p>Device details need to be updated anytime. Use this API endpoint to update your device details. Nevertheless,
        you can only update the display name, properties, notes and entity of a device. To update device details, you need
        to send <i>deviceGuid</i> in request url.</p>
      parameters:
      - name: deviceGuid
        in: path
        description: The guid of the device.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudTemplateDeviceUpdateRequest'
        description: Json object with device update details.
      responses:
        '200':
          description: Indicates that the device is updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device doesn't exist, the device is shared device, the entity doesn't exist, the child\
            \ device entity can not update\r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    delete:
      tags:
      - CloudTemplate
      summary: Delete a CloudTemplate device
      description: <p>To delete a device, use this API endpoint. To do that, you need to send a <i>deviceGuid</i> in request
        url that you want to delete. This will also release your device from Azure IoT Hub, even if the device is acquired.</p>
      parameters:
      - name: deviceGuid
        in: path
        description: Device Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the device deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CloudTemplateDeviceDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nthe device doesn't exist, the device is shared device, an error occurred during delete a device\
            \ from iothub\r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/CloudTemplate/device/{uniqueId}:
    get:
      tags:
      - CloudTemplate
      summary: Get all the details of single device
      description: <p>Getting all the details of a device, including firmware update, device availability and when it was
        last connected, etc., is critical for any user. To get all the details of a device, you need to send the device <i>uniqueId</i>
        in request url. Moreover, if you wish to fetch child device details, send gateway device <i>uniqueId</i> in <i>parentDeviceUniqueId</i>
        parameter of a query string.</p>
      parameters:
      - name: uniqueId
        in: path
        description: Device Unique Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the device information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CloudTemplateDeviceInformationResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nthe device doesn't exist and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/CloudTemplate:
    get:
      tags:
      - CloudTemplate
      summary: Get Device List
      description: "<p>This API endpoint gives you the list of available devices in your company.</p>\r\n<p>You can also add\
        \ the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter\
        \ parameters in a query string.</p>"
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: Sort by name and order, Eg. uniqueId asc, uniqueId desc, displayName etc.
        schema:
          type: string
      - name: UniqueId
        in: query
        description: The unique id of device
        schema:
          type: string
      - name: Name
        in: query
        description: The display name of device
        schema:
          type: string
      - name: AuthType
        in: query
        description: 'Authentication Type - 1: Token, 2: CA Signed Certificate, 3: Self Signed Certificate, 4: TPM, 5: Symmetric
          Key, 6: Bootstrap Certificate, 7: CA-Signed (individual)'
        schema:
          type: integer
          format: int32
      - name: EntityName
        in: query
        description: The entity name
        schema:
          type: string
      - name: Status
        in: query
        description: The status of device, Eg. active or inactive
        schema:
          type: string
      - name: Property
        in: query
        description: The custom property name of device
        schema:
          type: string
      - name: Value
        in: query
        description: The custom property value of device
        schema:
          type: string
      - name: Acquired
        in: query
        description: The device acquire status, Eg. acquired, released or inprogress
        schema:
          type: string
      - name: EntityGuid
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the device list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CloudTemplateDeviceListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/CloudTemplate/convert-template:
    post:
      tags:
      - CloudTemplate
      summary: Convert CloudTemplate to DeviceTemplate
      description: <p>This API endpoint allows you to convert CloudTemplate to DeviceTemplate. For that, you need to send
        <i>CloudTemplateGuid</i> in request url.</p>
      responses:
        '200':
          description: Indicates that the cloudTemplate is convert to deviceTemplate successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeviceTemplateCreateResponse'
        '201':
          description: Indicates that the cloudTemplate not found.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: Indicates that the request could not be carried out because of one of the below or other conflicts
            on the server.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTemplateCreateRequest'
        description: Json object
  /api/v2/CloudTemplate/device/{cloudTemplateDeviceGuid}/attribute-list:
    get:
      tags:
      - CloudTemplate
      summary: Get all the attribute of cloudTemplateDevice
      description: <p>Getting all the attibute of a cloudTemplate</p>
      parameters:
      - name: cloudTemplateDeviceGuid
        in: path
        description: CloudTemplateDevice Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the cloudTemplateDevice attributes received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CloudTemplateAttributeListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nthe device doesn't exist and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/CloudTemplate/attribute/{attributeGuid}:
    put:
      tags:
      - CloudTemplate
      summary: Update a cloudTemplate attribute
      description: <p>CloudTemplate attribute need to be updated anytime. Use this API endpoint to update your cloudTemplate
        attribute. Nevertheless, you can only update the local name and dataType of a cloudTemplate attribute.</p>
      parameters:
      - name: attributeGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudTemplateAttributeUpdateRequest'
      responses:
        '200':
          description: Indicates that the attribute is updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CloudTemplateAttributeUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe attribute doesn't exist\r\nand invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/CloudTemplate/bulk-delete:
    put:
      tags:
      - CloudTemplate
      summary: Delete multiple devices
      description: <p>This API endpoint allows you to delete multiple devices. For that, you need to send <i>DeviceGuid</i>
        in request url.</p>
      responses:
        '200':
          description: Indicates that the devices deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MultipleCloudDeviceDeleteResponse'
        '201':
          description: Indicates that the devices not found.
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: Indicates that the request could not be carried out because of one of the below or other conflicts
            on the server.
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleCloudDeviceDeleteRequest'
        description: Json object
  /api/v2/CloudTemplate/batch-bulk-delete/{batchGuid}/devices:
    get:
      tags:
      - CloudTemplate
      summary: Get deleted device list based on batchguid
      description: <p>This API endpoint allows you get all the details of deleted device list based on batchguid.For that,
        you need to send <i>BatchGuid</i> in request url</p>
      parameters:
      - name: batchGuid
        in: path
        description: Batch Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: isDeleted
        in: query
        description: In <i>isActive</i>, send <i>true</i> to get device which are deleted successfully and <i>false</i>get
          device which are failed
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the device information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkDeleteCloudDeviceListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nthe device doesn't exist and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/CloudTemplate/device-delete-history-list:
    get:
      tags:
      - CloudTemplate
      summary: Get device delete history list
      description: "<p>This API endpoint gives you the list of bulk delete history devices based on devicetypes.</p>\r\n<p>You\
        \ can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to\
        \ send these filter parameters in a query string.</p>"
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: Sort by name and order, Eg. uniqueId asc, uniqueId desc, displayName etc.
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the device list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CloudDeviceDeleteHistoryListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command:
    post:
      tags:
      - Command
      summary: Add new template command
      description: "<p>Commands are used to manage a device remotely. You can add multiple commands to your device template.\
        \ You can use commands to run a command on the device remotely, instantly, from IoTConnect.</p>\r\n<p>This API endpoint\
        \ allows you to create device template commands. These commands will be defined in your device template and will be\
        \ a part of your device template. A template can have one or more commands.</p>\r\n<p>Here, name and command are mandatory\
        \ for any template command.</p>"
      responses:
        '200':
          description: Indicates that template command created successfully and returns created template command guid.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device template doesn't exist, command already exists, tag is required for gateway template,\
            \ invalid tag and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandCreateRequest'
        description: Json object
  /api/v2/template-command/{commandGuid}:
    put:
      tags:
      - Command
      summary: Update template command
      description: <p>This API endpoint lets you update a command. For that, you need to send <i>commandGuid</i> in request
        url and command update details in the request body.</p>
      parameters:
      - name: commandGuid
        in: path
        description: Template Command Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandUpdateRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that template command updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device template doesn't exist, command not found, command already exists, tag is required\
            \ for gateway template, invalid tag and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    delete:
      tags:
      - Command
      summary: Delete a command
      description: <p>This API endpoint allows you to delete a command. For that, you need to send <i>commandGuid</i> in request
        url.</p>
      parameters:
      - name: commandGuid
        in: path
        description: Template Command Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that template command deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device template doesn't exist, command not found and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command/{deviceTemplateGuid}:
    get:
      tags:
      - Command
      summary: Get device template command list
      description: "<p>This API endpoint gives you the list of available commands in your device template. For that, you need\
        \ to send <i>deviceTemplateGuid</i> in request url.</p>\r\n<p>You can also add the filters as given in the parameters.\
        \ Though the filters are optional, to apply them, you need to send these filter parameters in a query string.</p>"
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. Eg: name asc, name
          desc, name'
        schema:
          type: string
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      responses:
        '200':
          description: Indicates that template command list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device template doesn't exist and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command/{deviceTemplateGuid}/lookup:
    get:
      tags:
      - Command
      summary: Get device template command lookup
      description: <p>This API endpoint provides you the lookup list of available commands in your device template. For that,
        you need to send <i>deviceTemplateGuid</i> in request url.</p>
      parameters:
      - name: deviceTemplateGuid
        in: path
        description: Device Template Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: tag
        in: query
        description: Tag
        schema:
          type: string
      responses:
        '200':
          description: Indicates that template command lookup received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandLookupResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device template doesn't exist and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command/device/{deviceGuid}/send:
    post:
      tags:
      - Command
      summary: Execute a command on device
      description: <p>Run a command on any device using this API endpoint. For that, you need to send <i>deviceGuid</i> in
        request url along with <i>commandGuid</i> and <i>parameterValue</i> in the request body. This command will be executed
        on a real device. Using this, you will be able to send data to devices from your UI.</p>
      parameters:
      - name: deviceGuid
        in: path
        description: Device Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandSendToDeviceRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that the command sent to device successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandSendToDeviceResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDevice doesn't exist, not allowed to send the device command as the device is shared device\
            \ with read permission only,\r\ncommand doesn't exist and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command/send:
    post:
      tags:
      - Command
      summary: Execute a command on multiple devices
      description: "<p>Run a command on multiple devices using this API endpoint. For that, you need to send either <i>entityGuid</i>\
        \ or <i>deviceGuid</i> list along with <i>commandGuid</i> and <i>parameterValue</i> in the request body.</p>\r\n<p>If\
        \ you wish to send <i>entityGuid</i>, send value “1” in the <i>applyTo</i> parameter and entity guid in <i>entityGuid</i>\
        \ parameter. This will send commands to all the devices available in the given entity. You can also send these commands\
        \ to child devices of a given entity. For that, you need to send value “true” in <i>isRecursive</i> parameter.</p>\r\
        \n<p>If you wish to send <i>deviceGuid</i> list, send value “2” in the <i>applyTo</i> parameter and list of device\
        \ guids in devices parameter. This will send commands to selected devices only.</p>"
      responses:
        '200':
          description: Indicates that the command sent to devices successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandSendResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDevice doesn't exist and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandSendRequest'
        description: Json object
  /api/v2/template-command/CommandSchedule/{commandScheduleGuid}:
    put:
      tags:
      - Command
      summary: Update a scheduled command
      description: <p>This API endpoint allows you to delete a scheduled command along with recurring job associated with
        that command. For that, you need to send <i>commandScheduleGuid</i> in request url.</p>
      parameters:
      - name: commandScheduleGuid
        in: path
        description: Scheduled Command Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandScheduleUpdateRequest'
        description: request
      responses:
        '200':
          description: Indicates that the scheduled command updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandScheduleUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nComand not exists, command schedule not exists, parameter is required and invalid logged user\
            \ or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    delete:
      tags:
      - Command
      summary: Delete a scheduled command
      description: <p>This API endpoint allows you to delete a scheduled command along with recurring job associated with
        that command. For that, you need to send <i>commandScheduleGuid</i> in request url.</p>
      parameters:
      - name: commandScheduleGuid
        in: path
        description: Scheduled Command Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the scheduled command deleted successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandScheduleDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nCommand schedule not found and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command/CommandSchedule/{CommandScheduleGuid}:
    get:
      tags:
      - Command
      summary: Get scheduled command detail
      description: <p>This API endpoint provide you scheduled command detail. For that, you need to send <i>CommandScheduleGuid</i>
        in request url.</p>
      parameters:
      - name: CommandScheduleGuid
        in: path
        description: Scheduled Command Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the scheduled command updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandScheduleDetailResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nComand not exists, command schedule not exists, parameter is required and invalid logged user\
            \ or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command/CommandSchedule:
    get:
      tags:
      - Command
      summary: Get scheduled command list
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'Sort by guid,templatename,commandname,companyGuid,commandGuid,applyTo,entityGuid,isRecursive,unit,unitValue,unitTime,parameterValue,isActive,createddate,createdby,updateddate,updatedby
          For example: name asc'
        schema:
          type: string
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: isEdge
        in: query
        description: 'IsEdge : Pass value as true to get only edge devices'
        schema:
          type: boolean
      - name: isGateway
        in: query
        description: 'IsGateway : Pass value as true to get only gateway devices'
        schema:
          type: boolean
      - name: isLowBandwidth
        in: query
        description: 'IsLowBandwidth : Pass value as true to get only low badnwidth devices'
        schema:
          type: boolean
      - name: isIotEdgeEnable
        in: query
        description: 'IsIoTEdgeEnable : Pass value as true to get only Azure iot Edge devices'
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the scheduled command list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandScheduleListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command/CommandSchedule/{commandScheduleGuid}/status:
    put:
      tags:
      - Command
      summary: Update scheduled command Status
      description: <p>This API endpoint allows you to change the status of your scheduled command along with recurring job
        associated with that command. For that, you need to send <i>commandScheduleGuid</i> in request url and <i>isActive</i>
        in the request body. In <i>isActive</i>, send <i>true</i> to activate your scheduled command and <i>false</i> to deactivate
        your scheduled command.</p>
      parameters:
      - name: commandScheduleGuid
        in: path
        description: Scheduled Command Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandScheduleUpdateStatusRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that the scheduled command status updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandScheduleUpdateStatusResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nCommand schedule not found and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command/history:
    get:
      tags:
      - Command
      summary: Get device active commands
      description: "<p>This API endpoint provides you the list of command execution histories for all devices. This also gives\
        \ you the status of whether the command was successfully executed or not.</p>\r\n<p>You can also add the filters as\
        \ given in the parameters. You can fetch the history of a single device by sending <i>deviceGuid</i> in filter parameters.\
        \ Though the filters are optional, to apply them, you need to send these filter parameters in a query string.</p>"
      parameters:
      - name: deviceGuid
        in: query
        description: Device Guid
        schema:
          type: string
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. Eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. Eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. Eg: uniqueId asc, uniqueId
          desc, uniqueId'
        schema:
          type: string
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: isEdge
        in: query
        description: 'IsEdge : Pass value as true to get only edge devices'
        schema:
          type: boolean
      - name: isGateway
        in: query
        description: 'IsGateway : Pass value as true to get only gateway devices'
        schema:
          type: boolean
      - name: isLowBandwidth
        in: query
        description: 'IsLowBandwidth : Pass value as true to get only low badnwidth devices'
        schema:
          type: boolean
      - name: isIotEdgeEnable
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the command history list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandHistoryListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
    post:
      tags:
      - Command
      summary: Get device command history
      description: "<p>This API endpoint provides you the list of command execution histories for all devices. This also gives\
        \ you the status of whether the command was successfully executed or not.</p>\r\n<p>You can also add the filters as\
        \ given in the parameters. You can fetch the history of a single device by sending <i>deviceGuid</i> in filter parameters.\
        \ Though the filters are optional, to apply them, you need to send these filter parameters in a query string.</p>"
      responses:
        '200':
          description: Indicates that the command history list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandHistoryListResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\ninvalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandHistoryBaseRequest'
  /api/v2/template-command/{deviceGuid}/status:
    put:
      tags:
      - Command
      summary: Update command history status
      description: <p>This API endpoint allows you to update the template command sent status for any device. For that, you
        need to send <i>deviceGuid</i> in request url along with <i>ackId</i>, <i>status</i> and <i>statusText</i> in the
        request body.</p>
      parameters:
      - name: deviceGuid
        in: path
        description: Device Guid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandHistoryUpdateRequest'
        description: Json object
      responses:
        '200':
          description: Indicates that the device command status updated successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandHistoryUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDevice command history doesn't exist, device doesn't exist, device is not connected, waiting\
            \ to connect device and invalid logged user or company"
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/template-command/history/{commandHistoryGuid}/re-send:
    put:
      tags:
      - Command
      summary: Resend commands
      description: <p>This API endpoint will re-execute all commands which are having failed status</p>
      parameters:
      - name: commandHistoryGuid
        in: path
        description: Command History Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the device command resend successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommandReSendResponse'
        '401':
[...]
