openapi: 3.2.0
info:
  title: Avnet User API
  x-refined-note:
  - x-conversion differs across the merged source definitions and was not carried
  - x-harvested differs across the merged source definitions and was not carried
  - x-original differs across the merged source definitions and was not carried
  - x-ownership differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged User across 3 of this provider''s published API definitions: avnet-iotconnect-user-aws-prod-swagger.json, avnet-iotconnect-user-azure-prod-swagger.json, avnet-iotconnect-user-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://user.iotconnect.io
  description: /IOTCONNECT production (Azure platform) — the host the docs page resolves for env=prod&pf=az; paths carry the /api/v2 prefix
security:
- Bearer: []
tags:
- name: User
  description: User Api List
paths:
  /api/v2.1/User:
    post:
      tags:
      - User
      summary: Add new user
      description: 'This API endpoint allows you to add new users to your company.


        Here, the properties parameter is optional. entityGuid defines that the user belongs to which entity. You can get the list of available entities for your company from Entity API. roleGuid sets the permissions for a user. You can get the list of roles from Role API.'
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user is created successfully and returns created user guid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Duplicate user email id, Entity doesn''t exist, Role doesn''t exist, Role is not active, User quota has been exceeded, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateV2Request'
        description: Json object
      operationId: postApiV21User
      x-operation-id-source: derived
    get:
      tags:
      - User
      summary: Get user list
      description: 'This API endpoint provides you the list of users in your company.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. eg: firstName asc, lastName desc, roleName, entityName, userid, updatedDate, isActive'
        schema:
          type: string
      - name: FirstName
        in: query
        schema:
          type: string
      - name: LastName
        in: query
        schema:
          type: string
      - name: Email
        in: query
        schema:
          type: string
      - name: ContactNo
        in: query
        schema:
          type: string
      - name: Role
        in: query
        schema:
          type: string
      - name: Entity
        in: query
        schema:
          type: string
      - name: Status
        in: query
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV21User
      x-operation-id-source: derived
  /api/v2.1/User/{userGuid}:
    put:
      tags:
      - User
      summary: Update user details
      description: This API endpoint allows you to update user details like first name, last name, contact number, a role assigned, entity, or device allocation. For that, you need to send userGuid in request url and updated user details in the request body.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user is updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, Entity doesn''t exist, Role doesn''t exist, Role is not active, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
        description: Json object
      operationId: putApiV21UserByUserGuid
      x-operation-id-source: derived
    delete:
      tags:
      - User
      summary: Delete user
      description: This API endpoint allows you to delete a user. For that, you need to send userGuid in request url.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user is deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDeleteRequest'
        description: Json object
      operationId: deleteApiV21UserByUserGuid
      x-operation-id-source: derived
    get:
      tags:
      - User
      summary: Get single user details
      description: This API endpoint allows you to get a detailed description of a user. For that, you need to send userGuid in request url.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: userInfoFlag
        in: query
        description: 'To include or exclude user info detail from response.

          <i>true</i>: to include, <i>false</i>: to exclude. By default details are included.'
        schema:
          type: boolean
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user details are loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV21UserByUserGuid
      x-operation-id-source: derived
  /api/v2.1/User/{userGuid}/status:
    put:
      tags:
      - User
      summary: Update user status
      description: This API endpoint allows you to update the active status of a user. For that, you need to send userGuid in request url.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user active status is updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, Status is already updated, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserStatusChangeV2Request'
        description: Json object
      operationId: putApiV21UserByUserGuidStatus
      x-operation-id-source: derived
  /api/v2.1/User/lookup:
    get:
      tags:
      - User
      summary: Get user lookup list
      description: This API endpoint gives you the lookup list of users in your company.
      parameters:
      - name: isEntityUser
        in: query
        description: 'To fetch the users available in logged in user''s entity (includes child entity users as well).

          <i>true</i>: to fetch only entity users, <i>false</i>: to fetch all users. By default it will give all users.'
        schema:
          type: boolean
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user lookup list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLookupResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV21UserLookup
      x-operation-id-source: derived
  /api/v2.1/role/{roleGuid}/user:
    get:
      tags:
      - User
      summary: Get user list by role
      description: 'This API endpoint provides you the list of users associated with a given role in your company. For that, you need to send roleGuid in request url.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: roleGuid
        in: path
        description: Role Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. eg: firstName asc, lastName desc, roleName, entityName, userid, isActive, updatedDate asc'
        schema:
          type: string
      - name: FirstName
        in: query
        description: User's First Name
        schema:
          type: string
      - name: LastName
        in: query
        description: User's Last Name
        schema:
          type: string
      - name: Email
        in: query
        description: User's Email Id
        schema:
          type: string
      - name: ContactNo
        in: query
        description: User's Contact Number
        schema:
          type: string
      - name: Role
        in: query
        description: User's Role
        schema:
          type: string
      - name: Entity
        in: query
        description: User's Entity
        schema:
          type: string
      - name: Status
        in: query
        description: User's Active Status
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListByEntityResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV21RoleByRoleGuidUser
      x-operation-id-source: derived
  /api/v2.1/entity/{entityGuid}/user:
    get:
      tags:
      - User
      summary: Get user list by entity
      description: 'This API endpoint gives you the list of users under a given entity in your company. For that, you need to send entityGuid in request url.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: entityGuid
        in: path
        description: Entity Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: roleGuid
        in: query
        description: Role Guid
        schema:
          type: string
          format: uuid
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. eg: firstName asc, lastName desc, roleName, entityName, userid, updatedDate, isActive asc'
        schema:
          type: string
      - name: isActiveUser
        in: query
        schema:
          type: boolean
      - name: FirstName
        in: query
        description: User's First Name
        schema:
          type: string
      - name: LastName
        in: query
        description: User's Last Name
        schema:
          type: string
      - name: Email
        in: query
        description: User's Email Id
        schema:
          type: string
      - name: ContactNo
        in: query
        description: User's Contact Number
        schema:
          type: string
      - name: Role
        in: query
        description: User's Role
        schema:
          type: string
      - name: Entity
        in: query
        description: User's Entity
        schema:
          type: string
      - name: Status
        in: query
        description: User's Active Status
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListByEntityResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV21EntityByEntityGuidUser
      x-operation-id-source: derived
  /api/v2.1/User/preference:
    get:
      tags:
      - User
      summary: Get user preference details
      description: This API endpoint gives you the user preference details for currently logged in users. User preferences show you that whether a user has opted for notifications. And if opted, what type of notifications. It also provides you page size preference and time zone detail.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user preference list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferenceListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV21UserPreference
      x-operation-id-source: derived
    put:
      tags:
      - User
      summary: Update user preference details
      description: 'When you create a user, default preferences set automatically for that user. Nevertheless, you can update those preferences anytime later.


        This API endpoint allows you to update currently logged in user’s preferences details.


        Here, you have an option to opt for notifications like email, sms, push. In case of email notifications, you have a choice whether you want to receive notifications on the primary email address (user’s login id) or secondary email address. If you opt for a secondary email, you need to enter that email address in alternateEmailID parameter. To change the user’s time zone, you need to send timeZoneGuid in the parameter. You can also get the list of available time zones from Master API.'
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user preference is updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferenceUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, User is not active, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceUpdateRequest'
        description: Json object
      operationId: putApiV21UserPreference
      x-operation-id-source: derived
  /api/v2.1/User/change-password:
    post:
      tags:
      - User
      summary: Change password
      description: This API endpoint allows you to change the user’s login password. For that, you need to send the user’s login email id, old password and new password in the request body.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the user password is changed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserChangePasswordResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Old password doesn''t match, Company doesn''t exist, User is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
        description: Json object
      operationId: postApiV21UserChangePassword
      x-operation-id-source: derived
  /api/v2.1/User/forgot-password:
    post:
      tags:
      - User
      summary: Forgot password
      description: 'When you forget your password, you need to reset. For that, you need an invitation link that takes you to reset password page to change the password.


        This API endpoint allows you to send an invitation link to reset your password. For that, you need to send your login email id. It sends you an invitation link on your login email id. By using that url, you will be able to reset your password.'
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that email has been sent successfully to reset the password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserForgetPasswordResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
        description: Json object
      operationId: postApiV21UserForgotPassword
      x-operation-id-source: derived
  /api/v2.1/User/reset-password:
    post:
      tags:
      - User
      summary: Reset password
      description: This API endpoint allows you to reset your password. For that, you need to send your login email id, invitation guid and your new password. An invitation will be generated at the time of creating a new user and when a user asks to reset the password using the forgot password API. You need that newly generated invitation’s guid in invitationGuid parameter in the request body.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user has reset the password successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResetPasswordResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
        description: Json object
      operationId: postApiV21UserResetPassword
      x-operation-id-source: derived
  /api/v2.1/User/reset-password/resend:
    post:
      tags:
      - User
      summary: Resend reset password link
      description: This API endpoint allows you to resend the invitation link to the user’s email id to reset the password. For that, you need to send the user’s login email id in email parameter in the request body.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the user password is reset successfully and an email has been sent to user's email id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, User is not active, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendResetPasswordRequest'
        description: Json object
      operationId: postApiV21UserResetPasswordResend
      x-operation-id-source: derived
  /api/v2.1/User/{userGuid}/properties:
    put:
      tags:
      - User
      summary: Update custom property value
      description: This API endpoint allows you to update the custom property value of a user. For that, you need to send userGuid in request url along with customPropertyGuid and value in the request body.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that custom property is updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPropertyUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Property doesn''t exist, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPropertiesUpdateRequest'
        description: Json object
      operationId: putApiV21UserByUserGuidProperties
      x-operation-id-source: derived
  /api/v2.1/User/{userGuid}/property/{propertyGuid}:
    delete:
      tags:
      - User
      summary: Delete custom property value
      description: This API endpoint allows you to delete a custom property value of a user. For that, you need to send userGuid and customPropertyGuid in request url.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: propertyGuid
        in: path
        description: Custom Property Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that custom property is deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPropertyDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Property doesn''t exist, Company doesn''t exist, Logged in user is not valid etc.'
      operationId: deleteApiV21UserByUserGuidPropertyByPropertyGuid
      x-operation-id-source: derived
  /api/v2.1/User/identity:
    get:
      tags:
      - User
      summary: logged in user detail
      description: 'This API endpoint provides you the currently logged in user’s details.


        Here, along with user details, you can also access the user’s permission details. The information can help you to know that users can access which modules with what permissions, such as a view or operate. For that, you need to send true in query string parameter permissions.'
      parameters:
      - name: permissions
        in: query
        description: '<i>true</i> : to include logged-in user''s permissions detail, <i>false</i> : to exclude permissions detail. By default permissions detail will be excluded.'
        schema:
          type: boolean
      - name: includeConfigSettings
        in: query
        description: Send true to get configuration settings
        schema:
          type: boolean
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user details are loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentityResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV21UserIdentity
      x-operation-id-source: derived
  /api/v2.1/User/search:
    post:
      tags:
      - User
      summary: Get user list by role or user id
      description: 'This API endpoint gives you the list of available users in your company based on a given role guid or list of users guid. You can only send either roleGuid or a list of users guid.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string. The status parameter is used to get the list of users based on their active status. The property parameter is used to get the list of users with properties available.'
      parameters:
      - name: property
        in: query
        description: 'To include or exclude user properties from list, if any. <i>true</i> : To include properties, <i>false</i> : To exclude properties'
        schema:
          type: boolean
      - name: status
        in: query
        description: 'To get the list of users based on their active status. <i>true</i> : For active users list, <i>false</i> : For inactive users list'
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. eg: 25'
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. eg: firstName asc'
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSearchResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSearchRequest'
        description: Enter either Role Guids or User Guids
      operationId: postApiV21UserSearch
      x-operation-id-source: derived
  /api/v2.1/User/count:
    get:
      tags:
      - User
      summary: Get user count
      description: 'This API endpoint gives you the count of available users in your company.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string. companyGuid parameter is used to get the list of users for a given company guid. The status parameter is used to get the list of users based on their active status.'
      parameters:
      - name: companyGuid
        in: query
        description: Company Guid
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: 'To get user count based on user active status. <i>active</i> : To get active user count, <i>inactive</i> : To get inactive user count.'
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user count is received successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCountValueResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV21UserCount
      x-operation-id-source: derived
  /api/v2.1/User/{email}/availability:
    get:
      tags:
      - User
      summary: Get user availability
      description: This API endpoint provides you the user’s availability details. For that, you need to send a user login email id in request url. If a user is available, it will give the user details.
      parameters:
      - name: email
        in: path
        description: User's Login Email Id
        required: true
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user is available and returns user detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAvailabilityUsingEmailResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist etc.'
      operationId: getApiV21UserByEmailAvailability
      x-operation-id-source: derived
  /api/v2.1/entity/{entityGuid}/user-import:
    post:
      tags:
      - User
      summary: Import users in batch
      description: This API endpoint allows you to create users in bulk for a given entity guid. For that, you need to upload a CSV file in userFile parameter, containing a list of users that you want to create under the given entity.
      parameters:
      - name: entityGuid
        in: path
        description: Entity Guid. All users will be created under this entity.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user batch is imported successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBulkUploadResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                UserFile:
                  type: string
                  description: Json file as per the file sample provided. Please download sample files form your IoTConnect Account.Upload a file containing a list of users to import.
                  format: binary
                SendInvitationEmail:
                  type: boolean
                  description: To receive invitation email from IDS
                ChunkFileGuid:
                  type: string
      operationId: postApiV21EntityByEntityGuidUserImport
      x-operation-id-source: derived
  /api/v2.1/User/announcement:
    get:
      tags:
      - User
      summary: Get user's announcement list
      description: ''
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementDetailResponse'
      operationId: getApiV21UserAnnouncement
      x-operation-id-source: derived
    post:
      tags:
      - User
      summary: Create api user announcement
      description: ''
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRequest'
      x-summary-source: derived
      operationId: postApiV21UserAnnouncement
      x-operation-id-source: derived
  /api/v2.1/User/Notification:
    get:
      tags:
      - User
      summary: Get user NotificationList
      description: 'This API endpoint gives you the list of notifications for a specific userId.


        You can get a list of notifications based on your selection of preferences.'
      parameters:
      - name: userId
        in: query
        schema:
          type: string
      - name: deliveryMethod
        in: query
        schema:
          type: integer
          format: int32
      - name: companyGuid
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
      operationId: getApiV21UserNotification
      x-operation-id-source: derived
  /api/v2.1/User/m-notification:
    get:
      tags:
      - User
      summary: Get Registered Platform NotificationList
      description: 'This API endpoint gives you the list of notifications for a specific registered device.


        You can get notifications based on your user id.'
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMobileNotificationListResponse'
      operationId: getApiV21UserMNotification
      x-operation-id-source: derived
  /api/v2.1/User/deviceToken/{deviceToken}/minutes/{minutes}/snooze:
    put:
      tags:
      - User
      summary: Snooze the Notification for specific device
      description: 'This API endpoint gives you the list of notifications for a specific registered device.


        You can get a list of notifications based on your device token.'
      parameters:
      - name: minutes
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: deviceToken
        in: path
        required: true
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnoozeNotificationResponse'
      operationId: putApiV21UserDeviceTokenByDeviceTokenMinutesByMinutesSnooze
      x-operation-id-source: derived
  /api/v2.1/User/m-register/platform/{platformType}/deviceToken/{deviceToken}:
    put:
      tags:
      - User
      summary: RegisterDevice Platform
      description: This API endpoint will register the device platform based on the device token and platform you passed.
      parameters:
      - name: platformType
        in: path
        description: 'Platform type should be one of below items

          <ul><li>1. IoTConnect</li><li>2. iOS</li><li>3. Android</li></ul>'
        required: true
        schema:
          type: integer
          format: int32
      - name: deviceToken
        in: path
        required: true
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterPlatformResponse'
      operationId: putApiV21UserMRegisterPlatformByPlatformTypeDeviceTokenByDeviceToken
      x-operation-id-source: derived
    delete:
      tags:
      - User
      summary: Remove the RegisterDevice Platform
      description: This API endpoint will remove the device platform based on the device token and platform you provided.
      parameters:
      - name: platformType
        in: path
        description: 'Platform type should be one of below items

          <ul><li>1. IoTConnect</li><li>2. iOS</li><li>3. Android</li></ul>'
        required: true
        schema:
          type: integer
          format: int32
      - name: deviceToken
        in: path
        required: true
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterPlatformDeleteResponse'
      operationId: deleteApiV21UserMRegisterPlatformByPlatformTypeDeviceTokenByDeviceToken
      x-operation-id-source: derived
  /api/v2.1/User/enumDetail:
    get:
      tags:
      - User
      summary: Get Enum Description
      description: This API endpoint gives you a list of enum values with a description of the ResourceHealthAlert enum.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEnumDataResponse'
      operationId: getApiV21UserEnumDetail
      x-operation-id-source: derived
  /api/v2.1/User/rh-Config:
    get:
      tags:
      - User
      summary: Get RHApp Configuration
      description: This API endpoint allows you to get RhApp Congiuration for Both Platform Andorid and iOS.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RhConfigResponse'
      operationId: getApiV21UserRhConfig
      x-operation-id-source: derived
  /api/v2.1/cognito/user:
    get:
      tags:
      - User
      summary: Get Cognito user list
      description: 'This API endpoint provides you the list of cognito users in your company.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: Email
        in: query
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CognitoUserListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV21CognitoUser
      x-operation-id-source: derived
  /api/v2/User:
    post:
      tags:
      - User
      summary: Add new user
      description: 'This API endpoint allows you to add new users to your company.


        Here, the properties parameter is optional. entityGuid defines that the user belongs to which entity. You can get the list of available entities for your company from Entity API. roleGuid sets the permissions for a user. You can get the list of roles from Role API.'
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user is created successfully and returns created user guid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Duplicate user email id, Entity doesn''t exist, Role doesn''t exist, Role is not active, User quota has been exceeded, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateV2Request_2'
        description: Json object
      operationId: postApiV2User
      x-operation-id-source: derived
    get:
      tags:
      - User
      summary: Get user list
      description: 'This API endpoint provides you the list of users in your company.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. eg: firstName asc, lastName desc, roleName, entityName, userid, updatedDate, isActive'
        schema:
          type: string
      - name: FirstName
        in: query
        schema:
          type: string
      - name: LastName
        in: query
        schema:
          type: string
      - name: Email
        in: query
        schema:
          type: string
      - name: ContactNo
        in: query
        schema:
          type: string
      - name: Role
        in: query
        schema:
          type: string
      - name: Entity
        in: query
        schema:
          type: string
      - name: Status
        in: query
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV2User
      x-operation-id-source: derived
  /api/v2/User/{userGuid}:
    put:
      tags:
      - User
      summary: Update user details
      description: This API endpoint allows you to update user details like first name, last name, contact number, a role assigned, entity, or device allocation. For that, you need to send userGuid in request url and updated user details in the request body.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user is updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, Entity doesn''t exist, Role doesn''t exist, Role is not active, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
        description: Json object
      operationId: putApiV2UserByUserGuid
      x-operation-id-source: derived
    delete:
      tags:
      - User
      summary: Delete user
      description: This API endpoint allows you to delete a user. For that, you need to send userGuid in request url.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user is deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDeleteRequest'
        description: Json object
      operationId: deleteApiV2UserByUserGuid
      x-operation-id-source: derived
    get:
      tags:
      - User
      summary: Get single user details
      description: This API endpoint allows you to get a detailed description of a user. For that, you need to send userGuid in request url.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: userInfoFlag
        in: query
        description: 'To include or exclude user info detail from response.

          <i>true</i>: to include, <i>false</i>: to exclude. By default details are included.'
        schema:
          type: boolean
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user details are loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV2UserByUserGuid
      x-operation-id-source: derived
  /api/v2/User/{userGuid}/status:
    put:
      tags:
      - User
      summary: Update user status
      description: This API endpoint allows you to update the active status of a user. For that, you need to send userGuid in request url.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user active status is updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, Status is already updated, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserStatusChangeV2Request'
        description: Json object
      operationId: putApiV2UserByUserGuidStatus
      x-operation-id-source: derived
  /api/v2/User/lookup:
    get:
      tags:
      - User
      summary: Get user lookup list
      description: This API endpoint gives you the lookup list of users in your company.
      parameters:
      - name: isEntityUser
        in: query
        description: 'To fetch the users available in logged in user''s entity (includes child entity users as well).

          <i>true</i>: to fetch only entity users, <i>false</i>: to fetch all users. By default it will give all users.'
        schema:
          type: boolean
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user lookup list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLookupResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV2UserLookup
      x-operation-id-source: derived
  /api/v2/role/{roleGuid}/user:
    get:
      tags:
      - User
      summary: Get user list by role
      description: 'This API endpoint provides you the list of users associated with a given role in your company. For that, you need to send roleGuid in request url.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: roleGuid
        in: path
        description: Role Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. eg: firstName asc, lastName desc, roleName, entityName, userid, isActive, updatedDate asc'
        schema:
          type: string
      - name: FirstName
        in: query
        description: User's First Name
        schema:
          type: string
      - name: LastName
        in: query
        description: User's Last Name
        schema:
          type: string
      - name: Email
        in: query
        description: User's Email Id
        schema:
          type: string
      - name: ContactNo
        in: query
        description: User's Contact Number
        schema:
          type: string
      - name: Role
        in: query
        description: User's Role
        schema:
          type: string
      - name: Entity
        in: query
        description: User's Entity
        schema:
          type: string
      - name: Status
        in: query
        description: User's Active Status
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListByEntityResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV2RoleByRoleGuidUser
      x-operation-id-source: derived
  /api/v2/entity/{entityGuid}/user:
    get:
      tags:
      - User
      summary: Get user list by entity
      description: 'This API endpoint gives you the list of users under a given entity in your company. For that, you need to send entityGuid in request url.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string.'
      parameters:
      - name: entityGuid
        in: path
        description: Entity Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: roleGuid
        in: query
        description: Role Guid
        schema:
          type: string
          format: uuid
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. eg: 25'
        schema:
          type: integer
          format: int32
      - name: sortBy
        in: query
        description: 'To sort the list. To do that, Specify Field name to sort with and sorting order. eg: firstName asc, lastName desc, roleName, entityName, userid, updatedDate, isActive asc'
        schema:
          type: string
      - name: isActiveUser
        in: query
        schema:
          type: boolean
      - name: FirstName
        in: query
        description: User's First Name
        schema:
          type: string
      - name: LastName
        in: query
        description: User's Last Name
        schema:
          type: string
      - name: Email
        in: query
        description: User's Email Id
        schema:
          type: string
      - name: ContactNo
        in: query
        description: User's Contact Number
        schema:
          type: string
      - name: Role
        in: query
        description: User's Role
        schema:
          type: string
      - name: Entity
        in: query
        description: User's Entity
        schema:
          type: string
      - name: Status
        in: query
        description: User's Active Status
        schema:
          type: string
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListByEntityResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV2EntityByEntityGuidUser
      x-operation-id-source: derived
  /api/v2/User/preference:
    get:
      tags:
      - User
      summary: Get user preference details
      description: This API endpoint gives you the user preference details for currently logged in users. User preferences show you that whether a user has opted for notifications. And if opted, what type of notifications. It also provides you page size preference and time zone detail.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user preference list is loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferenceListResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV2UserPreference
      x-operation-id-source: derived
    put:
      tags:
      - User
      summary: Update user preference details
      description: 'When you create a user, default preferences set automatically for that user. Nevertheless, you can update those preferences anytime later.


        This API endpoint allows you to update currently logged in user’s preferences details.


        Here, you have an option to opt for notifications like email, sms, push. In case of email notifications, you have a choice whether you want to receive notifications on the primary email address (user’s login id) or secondary email address. If you opt for a secondary email, you need to enter that email address in alternateEmailID parameter. To change the user’s time zone, you need to send timeZoneGuid in the parameter. You can also get the list of available time zones from Master API.'
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user preference is updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferenceUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, User is not active, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceUpdateRequest_2'
        description: Json object
      operationId: putApiV2UserPreference
      x-operation-id-source: derived
  /api/v2/User/change-password:
    post:
      tags:
      - User
      summary: Change password
      description: This API endpoint allows you to change the user’s login password. For that, you need to send the user’s login email id, old password and new password in the request body.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the user password is changed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserChangePasswordResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Old password doesn''t match, Company doesn''t exist, User is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
        description: Json object
      operationId: postApiV2UserChangePassword
      x-operation-id-source: derived
  /api/v2/User/forgot-password:
    post:
      tags:
      - User
      summary: Forgot password
      description: 'When you forget your password, you need to reset. For that, you need an invitation link that takes you to reset password page to change the password.


        This API endpoint allows you to send an invitation link to reset your password. For that, you need to send your login email id. It sends you an invitation link on your login email id. By using that url, you will be able to reset your password.'
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that email has been sent successfully to reset the password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserForgetPasswordResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
        description: Json object
      operationId: postApiV2UserForgotPassword
      x-operation-id-source: derived
  /api/v2/User/reset-password:
    post:
      tags:
      - User
      summary: Reset password
      description: This API endpoint allows you to reset your password. For that, you need to send your login email id, invitation guid and your new password. An invitation will be generated at the time of creating a new user and when a user asks to reset the password using the forgot password API. You need that newly generated invitation’s guid in invitationGuid parameter in the request body.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user has reset the password successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResetPasswordResponse'
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
        description: Json object
      operationId: postApiV2UserResetPassword
      x-operation-id-source: derived
  /api/v2/User/reset-password/resend:
    post:
      tags:
      - User
      summary: Resend reset password link
      description: This API endpoint allows you to resend the invitation link to the user’s email id to reset the password. For that, you need to send the user’s login email id in email parameter in the request body.
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that the user password is reset successfully and an email has been sent to user's email id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            User doesn''t exist, User is not active, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendResetPasswordRequest'
        description: Json object
      operationId: postApiV2UserResetPasswordResend
      x-operation-id-source: derived
  /api/v2/User/{userGuid}/properties:
    put:
      tags:
      - User
      summary: Update custom property value
      description: This API endpoint allows you to update the custom property value of a user. For that, you need to send userGuid in request url along with customPropertyGuid and value in the request body.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that custom property is updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPropertyUpdateResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Property doesn''t exist, Company doesn''t exist, Logged in user is not valid etc.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPropertiesUpdateRequest'
        description: Json object
      operationId: putApiV2UserByUserGuidProperties
      x-operation-id-source: derived
  /api/v2/User/{userGuid}/property/{propertyGuid}:
    delete:
      tags:
      - User
      summary: Delete custom property value
      description: This API endpoint allows you to delete a custom property value of a user. For that, you need to send userGuid and customPropertyGuid in request url.
      parameters:
      - name: userGuid
        in: path
        description: User Guid
        required: true
        schema:
          type: string
          format: uuid
      - name: propertyGuid
        in: path
        description: Custom Property Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that custom property is deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPropertyDeleteResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Property doesn''t exist, Company doesn''t exist, Logged in user is not valid etc.'
      operationId: deleteApiV2UserByUserGuidPropertyByPropertyGuid
      x-operation-id-source: derived
  /api/v2/User/identity:
    get:
      tags:
      - User
      summary: logged in user detail
      description: 'This API endpoint provides you the currently logged in user’s details.


        Here, along with user details, you can also access the user’s permission details. The information can help you to know that users can access which modules with what permissions, such as a view or operate. For that, you need to send true in query string parameter permissions.'
      parameters:
      - name: permissions
        in: query
        description: '<i>true</i> : to include logged-in user''s permissions detail, <i>false</i> : to exclude permissions detail. By default permissions detail will be excluded.'
        schema:
          type: boolean
      - name: includeConfigSettings
        in: query
        description: Send true to get configuration settings
        schema:
          type: boolean
      responses:
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '200':
          description: Indicates that user details are loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentityResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '403':
          description: Indicates that the user is not authorized to access this section.
        '409':
          description: 'Indicates that the request could not be carried out because of one of the below or other conflicts on the server

            Company doesn''t exist, Logged in user is not valid etc.'
      operationId: getApiV2UserIdentity
      x-operation-id-source: derived
  /api/v2/User/search:
    post:
      tags:
      - User
      summary: Get user list by role or user id
      description: 'This API endpoint gives you the list of available users in your company based on a given role guid or list of users guid. You can only send either roleGuid or a list of users guid.


        You can also add the filters as given in the parameters. Though the filters are optional, to apply them, you need to send these filter parameters in a query string. The status parameter is used to get the list of users based on their active status. The property parameter is used to get the list of users with properties available.'
      parameters:
      - name: property
        in: query
        description: 'To include or exclude user properties from list, if any. <i>true</i> : To include properties, <i>false</i> : To exclude properties'
        schema:
          type: boolean
      - name: status
        in: query
        description: 'To get the list of users based on their active status. <i>true</i> : For active users list, <i>false</i> : For inactive users list'
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: 'To fetch specific page data. eg: 2'
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'To define number of records in single page. eg: 25'
        schema:
          type: integer
          format: int32
      - name: searchText
        in: query
        description: To search for specific texts in the list.
        schema:
          type: string
[...]
