openapi: 3.0.0
info:
  title: /IOTCONNECT™ Telemetry API
  description: Telementry REST API contains information of Telemetry modules. Its main REST API Device-Cloud and Cloud-Device
    communication through HTTP(S) and MQTT protocols.
  version: '2.0'
  x-source: https://telemetry.iotconnect.io/api/v2/swagger-json
  x-harvested: '2026-09-18'
  x-original: openapi/_original/avnet-iotconnect-telemetry-azure-prod-swagger.json
  x-conversion: Swagger 2.0 -> OpenAPI 3.0.0 via swagger2openapi; operations, parameters, schemas and responses are as published
    — only servers[] and these x- provenance keys were added. No operationIds are published by the provider and none were
    invented.
  x-ownership: IoTConnect is Avnet's own IoT platform (docs.iotconnect.io is titled "Avnet /IOTCONNECT", carries "Copyright
    Avnet, Inc." and links github.com/avnet-iotconnect); the product lives on iotconnect.io rather than avnet.com.
servers:
- url: https://telemetry.iotconnect.io
  description: /IOTCONNECT production (Azure platform) — the host the docs page resolves for env=prod&pf=az; paths carry the
    /api/v2 prefix
paths:
  /api/v2/Telemetry/device/{deviceGuid}:
    get:
      tags:
      - Telemetry
      summary: Get device sensor list
      description: <p>This API endpoint gives you the list of sensors/attributes associated with a device. For that, you need
        to send <i>deviceGuid</i> in request url. In response, attributeValue shows the latest sensor value received from
        a device.</p>
      parameters:
      - name: deviceGuid
        in: path
        description: Device Guid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Indicates that the device sensor detail list received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeviceSensorDetailResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nThe device not found and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/stomp-reader:
    get:
      tags:
      - Telemetry
      summary: Get stomp reader information
      description: <p>This API endpoint provides you the information of stomp reader or an UI alert. For that, you need to
        send a stomp or UI alert in the query string parameter <i>type</i>.</p>
      parameters:
      - name: type
        in: query
        description: type should be 'stomp','ui-alert' or 'signalr', default value is 'stomp'
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the stomp reader information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StompReaderResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/mqtt-reader:
    get:
      tags:
      - Telemetry
      summary: Get mqtt reader information
      description: <p>This API endpoint gives you the information of the MQTT reader.</p>
      responses:
        '200':
          description: Indicates that the mqtt reader information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MqttReaderResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/attribute-history/attribute/{attributeGuid}/device/{uniqueId}/from/{fromDate}/to/{toDate}:
    get:
      tags:
      - Telemetry
      summary: Get telemetry historical data for single attribute
      description: <p>This API endpoint lets you access the historical data for your device sensors. For that, you need to
        send device unique id in <i>uniqueId</i> parameter and attribute/sensor name in <i>attributeGuid</i> parameter along
        with the fromDate and toDate.</p>
      parameters:
      - name: attributeGuid
        in: path
        description: Enter Attribute Name
        required: true
        schema:
          type: string
      - name: uniqueId
        in: path
        description: Device Unique Id
        required: true
        schema:
          type: string
      - name: fromDate
        in: path
        description: From date should be UTC and format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        required: true
        schema:
          type: string
      - name: toDate
        in: path
        description: To date should be UTC and format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the telemetry historical data received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeHistoryResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/attribute-history/device/{uniqueId}/from/{fromDate}/to/{toDate}:
    get:
      tags:
      - Telemetry
      summary: Get telemetry historical data for all attributes
      description: <p>This API endpoint gives you the historical data for all device sensors. For that, you need to send device
        unique id in <i>uniqueId</i> parameter along with fromDate and toDate.</p>
      parameters:
      - name: uniqueId
        in: path
        description: Device Unique Id
        required: true
        schema:
          type: string
      - name: fromDate
        in: path
        description: From date should be UTC and format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        required: true
        schema:
          type: string
      - name: toDate
        in: path
        description: To date should be UTC and format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the telemetry historical data received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeDeviceHistoryResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/template:
    post:
      tags:
      - Telemetry
      summary: Get template data
      description: "<p>This API endpoint provides you the list of devices associated with provided templates.</p>\r\n<p>Here,\
        \ you can send multiple templates under the <i>template</i> parameter. It gives you the list of all template devices.\
        \ If you send attribute guid in <i>attributes</i> parameter, it provides you data for those attributes only for all\
        \ template devices. Otherwise, it gives you all the attributes.</p>"
      responses:
        '200':
          description: Indicates that template data received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeviceDetailByTemplateResponse'
        '204':
          description: Indicates that the request has been successfully processed and no records found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceDetailsByTemplateRequest'
        description: Json object
  /api/v2/Telemetry/{uniqueId}/mqtt-reader:
    get:
      tags:
      - Telemetry
      summary: Get mqtt reader information for device
      description: <p>This API endpoint gives you the information of the MQTT reader.</p>
      parameters:
      - name: uniqueId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that device's mqtt reader information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MqttReaderResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDevice not found, device is not acquired and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/{uniqueId}/stomp-reader:
    get:
      tags:
      - Telemetry
      summary: Get stomp reader information for device
      description: <p>This API endpoint provides you the information of stomp reader or an UI alert. For that, you need to
        send a stomp or UI alert in the query string parameter <i>type</i>.</p>
      parameters:
      - name: uniqueId
        in: path
        description: device uniqueId
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: type should be 'stomp','ui-alert' or 'signalr', default value is 'stomp'
        schema:
          type: string
      responses:
        '200':
          description: Indicates that device's mqtt reader information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StompReaderResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDevice not found, device is not acquired and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/{gateway}/{uniqueid}/mqtt-reader:
    get:
      tags:
      - Telemetry
      summary: Get mqtt reader information for gateway child device
      description: <p>This API endpoint provides you the information of stomp reader or an UI alert. For that, you need to
        send a stomp or UI alert in the query string parameter <i>type</i>.</p>
      parameters:
      - name: gateway
        in: path
        description: Gateway uniqueid
        required: true
        schema:
          type: string
      - name: uniqueid
        in: path
        description: Child device uniqueid
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that device's mqtt reader information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TelemetryGatewayMqttReaderResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDevice not found, device is not acquired and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/{gateway}/{uniqueid}/stomp-reader:
    get:
      tags:
      - Telemetry
      summary: Get stomp reader information for gateway child device
      description: <p>This API endpoint provides you the information of stomp reader or an UI alert. For that, you need to
        send a stomp or UI alert in the query string parameter <i>type</i>.</p>
      parameters:
      - name: gateway
        in: path
        description: Gateway uniqueId
        required: true
        schema:
          type: string
      - name: uniqueid
        in: path
        description: Childdevice uniqueId
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: type should be 'stomp','ui-alert' or 'signalr', default value is 'stomp'
        schema:
          type: string
      responses:
        '200':
          description: Indicates that child device stomp reader information received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TelemetryGatewayStompReaderResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nDevice not found, device is not acquired and invalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/device/{uniqueId}/recent/{dataPoints}:
    post:
      tags:
      - Telemetry
      summary: Get recent data of device's attributes
      description: <p>This API endpoint gives you the recent N dataPoints data for a device. For that, you need to send device's
        unique id in <i>uniqueId</i> parameter along with number of dataPoints in <i>dataPoints</i> parameter request body.</p>
      parameters:
      - name: uniqueId
        in: path
        description: Device Unique Id
        required: true
        schema:
          type: string
      - name: dataPoints
        in: path
        description: <i>dataPoints</i> should be numeric and should be in range of 10 to 500
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAttrRecentRequest'
        description: <i>request</i> Json request containing childs'id and filter attributes
      responses:
        '200':
          description: Indicates that device attribute recent data received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeviceAttributeRecentDataResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/history:
    post:
      tags:
      - Telemetry
      summary: Get telemetry history for multiple devices
      description: <p>This API endpoint gives you the telemetry history data for multiple devices. For that, you need to send
        the device unique id list along with date range in the request body.</p>
      responses:
        '200':
          description: Indicates that the devices telemetry history received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TelemetryHistoryResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryHistoryRequest'
        description: Json object
  /api/v2/Telemetry/device/{uniqueId}/attribute-history:
    post:
      tags:
      - Telemetry
      summary: Get telemetry historical data for all attributes
      description: <p>This API endpoint gives you the historical data for all device sensors. For that, you need to send device
        unique id in <i>uniqueId</i> parameter and request body along with fromDate, toDate, pageSize and continuationToken
        .</p>
      parameters:
      - name: uniqueId
        in: path
        description: Device Unique Id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/AttributeHistoryRequest'
      responses:
        '200':
          description: Indicates that the device telemetry history received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeHistoryResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/device/{uniqueId}/attribute-history/{attributeGuid}:
    post:
      tags:
      - Telemetry
      summary: Get telemetry historical data for single attribute
      description: <p>This API endpoint lets you access the historical data for your device sensors. For that, you need to
        send device unique id in <i>uniqueId</i> parameter and attribute/sensor name in <i>attributeGuid</i> parameter and
        request body along with fromDate, toDate, pageSize and continuationToken.</p>
      parameters:
      - name: uniqueId
        in: path
        description: Device Unique Id
        required: true
        schema:
          type: string
      - name: attributeGuid
        in: path
        description: Enter Attribute Name when device message version in template is 2.0 or later (Eg. flowrate, gps.latitude)
          and enter AttributeGuid when device message version in template is 1.0
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/AttributeHistoryRequest'
      responses:
        '200':
          description: Indicates that the device telemetry history received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeHistoryResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
  /api/v2/Telemetry/device/{uniqueId}/history:
    post:
      tags:
      - Telemetry
      summary: Get telemetry historical data for all attributes (Non native SDK)
      description: <p>This API endpoint gives you the historical data for all device sensors. For that, you need to send device
        unique id in <i>uniqueId</i> parameter and request body along with fromDate, toDate, pageSize and continuationToken
        .</p>
      parameters:
      - name: uniqueId
        in: path
        description: Device Unique Id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoryV2Request'
      responses:
        '200':
          description: Indicates that the device telemetry history received successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttributeHistoryResponse'
        '401':
          description: Indicates that authentication is failed because of the token is invalid or expired or missing.
        '409':
          description: "Indicates that the request could not be carried out because of one of the below or other conflicts\
            \ on the server.\r\nInvalid logged user or company."
        '412':
          description: Indicates that a condition set for this request is failed, and the request cannot be carried out.
        '500':
          description: Indicates that the request could not be carried out because of some technical error on the server.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
security:
- Bearer: []
tags:
- name: Telemetry
  description: Telemetry Module Api List
components:
  requestBodies:
    AttributeHistoryRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AttributeHistoryRequest'
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please enter JWT with Bearer into field
      name: Authorization
      in: header
  schemas:
    AttributeDeviceHistoryResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    AttributeHistoryRequest:
      required:
      - fromDate
      - toDate
      type: object
      properties:
        fromDate:
          minLength: 1
          type: string
          description: From date should be UTC and format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        toDate:
          minLength: 1
          type: string
          description: To date should be UTC and format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        continuationToken:
          type: string
          description: ContinuationToken to get next page records
          nullable: true
        pageSize:
          type: integer
          description: "Page size, default page size is 10000 \r\nMax Page size value is 10000"
          format: int32
          nullable: true
        sortOrder:
          type: string
          description: SortOrder for order by
          nullable: true
      additionalProperties: false
    AttributeHistoryResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    DeviceAttrRecentRequest:
      type: object
      properties:
        childUniqueId:
          type: string
          nullable: true
        filterAttrs:
          type: array
          items:
            type: string
          nullable: true
        sortOrder:
          type: string
          nullable: true
      additionalProperties: false
    DeviceAttributeRecentDataResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    DeviceDetailByTemplate:
      type: object
      properties:
        deviceUniqueId:
          type: string
          nullable: true
        isConnected:
          type: boolean
        deviceGuid:
          type: string
          nullable: true
          readOnly: true
        deviceTemplateName:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        attributes:
          type: object
          nullable: true
      additionalProperties: false
    DeviceDetailByTemplateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DeviceDetailByTemplate'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    DeviceDetailsByTemplateRequest:
      type: object
      properties:
        template:
          type: array
          items:
            $ref: '#/components/schemas/Template'
          nullable: true
      additionalProperties: false
    DeviceSensorDetail:
      type: object
      properties:
        templateAttributeGuid:
          type: string
          nullable: true
          readOnly: true
        attributeName:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        attributeValue:
          type: string
          nullable: true
        deviceUpdatedDate:
          type: string
          format: date-time
          nullable: true
        notificationCount:
          type: integer
          format: int32
          nullable: true
        aggregateType:
          type: integer
          format: int32
          nullable: true
        DataType:
          type: string
          nullable: true
        aggregateTypeValues:
          type: object
          additionalProperties:
            type: boolean
          nullable: true
        attributeColor:
          type: string
          nullable: true
        gatewayUpdatedDate:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    DeviceSensorDetailResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DeviceSensorDetail'
          nullable: true
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    ErrorModel:
      type: object
      properties:
        param:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    ErrorsResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        error:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          nullable: true
      additionalProperties: false
    HistoryV2Request:
      required:
      - fromDate
      - toDate
      type: object
      properties:
        attributeName:
          type: string
          description: Enter Attribute Name when device message version in template is 2.0 or later (Eg. flowrate, gps.latitude)
            and enter AttributeGuid when device message version in template is 1.0 if you want to get data for specific attribute
            or not required to pass attributeGuid for get all attribute history
          nullable: true
        fromDate:
          minLength: 1
          type: string
          description: From date should be UTC and format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        toDate:
          minLength: 1
          type: string
          description: To date should be UTC and format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        continuationToken:
          type: string
          description: ContinuationToken to get next page records
          nullable: true
        pageSize:
          type: integer
          description: "Page size, default page size is 10000\r\nMax Page size value is 10000"
          format: int32
          nullable: true
        sortOrder:
          type: string
          description: Sort order for the results, either "asc" or "desc"
          nullable: true
      additionalProperties: false
    MqttReaderResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/StompReaderData'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    NoContentResult:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
      additionalProperties: false
    StompReaderData:
      type: object
      properties:
        host:
          type: string
          nullable: true
        vhost:
          type: string
          nullable: true
        user:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        port:
          type: integer
          format: int32
          nullable: true
        isSecure:
          type: integer
          format: int32
          nullable: true
        cpId:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        topic:
          type: string
          nullable: true
        vhost-alert:
          type: string
          nullable: true
        wsurl:
          type: string
          nullable: true
        telemetryTopic:
          type: string
          nullable: true
        notificationTopic:
          type: string
          nullable: true
      additionalProperties: false
    StompReaderResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/StompReaderData'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    TelemetryGatewayMqttReaderResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/StompReaderData'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    TelemetryGatewayStompReaderResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/StompReaderData'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    TelemetryHistory:
      type: object
      properties:
        feed:
          type: array
          items:
            type: object
            nullable: true
          nullable: true
        version:
          type: string
          nullable: true
        continuationToken:
          type: string
          nullable: true
      additionalProperties: false
    TelemetryHistoryRequest:
      required:
      - fromDate
      - toDate
      type: object
      properties:
        uniqueIds:
          type: array
          items:
            type: string
          description: Device Unique Id
          nullable: true
        fromDate:
          minLength: 1
          type: string
          description: From date should be UTC date and date format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        toDate:
          minLength: 1
          type: string
          description: To date should be UTC date and date format should be YYYY-MM-DD or YYYY-MM-DD HH:mm:ss
        messageVersion:
          type: string
          description: 'Device message version. Valid message versions are : ''2.0'', ''2.1''. Default value is ''2.0'''
          nullable: true
        continuationToken:
          type: string
          description: Token to get next page records
          nullable: true
        sortOrder:
          type: string
          nullable: true
      additionalProperties: false
    TelemetryHistoryResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TelemetryHistory'
        status:
          enum:
          - 100
          - 101
          - 102
          - 103
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 207
          - 208
          - 226
          - 300
          - 301
          - 302
          - 303
          - 304
          - 305
          - 306
          - 307
          - 308
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 421
          - 422
          - 423
          - 424
          - 426
          - 428
          - 429
          - 431
          - 451
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
          - 506
          - 507
          - 508
          - 510
          - 511
          type: integer
          format: int32
        message:
          type: string
          nullable: true
        count:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    Template:
      type: object
      properties:
        templateguid:
          type: string
          nullable: true
        attributes:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
